p {
  color: #ff8000;
  color: red green blue;
  color: red green blue;
  color: #ff8000;
  color: redhux;
  color: redgreen;
  color: #ff8000;
  color: 0xf 0;
  color: #fff0f0;
  color: white;
  color: #ffb3b3;
  color: #0f0000;
  color: black;
  color: #4d0000;
  color: #964632;
  color: #5d2b1f;
  color: #964632;
  color: #fff0f0;
  color: #fff0f0;
  color: #fef1f1;
  color: #0f0e10;
  color: #0f0f0f;
  color: #0f0d11;
  color: #964632;
  color: #874f41;
  color: #964632;}

