$seven: 7;

.test {

  equal-01: (7 == 7);
  equal-02: ('7' == '7');
  equal-03: ('#{7}' == '#{7}');

  equal-04: (7 == '7');
  equal-05: ('7' == 7);
  equal-06: (7 == '#{7}');
  equal-07: ('#{7}' == 7);
  equal-08: ('7' == '#{7}');
  equal-09: ('#{7}' == '7');

  equal-10: ($seven == 7);
  equal-11: ($seven == '7');
  equal-13: ($seven == '#{7}');

  equal-14: (7 == $seven);
  equal-15: ('7' == $seven);
  equal-16: ('#{7}' == $seven);

  equal-17: ('#{$seven}' == 7);
  equal-18: ('#{$seven}' == '7');
  equal-19: ('#{$seven}' == '#{7}');

  equal-20: (7 == '#{$seven}');
  equal-21: ('7' == '#{$seven}');
  equal-22: ('#{7}' == '#{$seven}');

  equal-23: ('#{$seven}' == $seven);
  equal-24: ('#{$seven}' == '#{$seven}');

}