foo {
  c0: saturate(hsl(100, 0%, 50%), 0%);
  c1: saturate(hsl(100, 0%, 50%), 1%);
  c2: saturate(hsl(100, 0%, 50%), 2%);
  c3: saturate(hsl(100, 0%, 50%), 3%);
  c4: saturate(hsl(100, 0%, 50%), 4%);
  c5: saturate(hsl(100, 0%, 50%), 5%);
  c6: saturate(hsl(100, 0%, 50%), 6%);
  c7: saturate(hsl(100, 0%, 50%), 7%);
  c8: saturate(hsl(100, 0%, 50%), 8%);
  c9: saturate(hsl(100, 0%, 50%), 9%);
  c10: saturate(hsl(100, 0%, 50%), 10%);
  c11: saturate(hsl(100, 0%, 50%), 11%);
  c12: saturate(hsl(100, 0%, 50%), 12%);
  c13: saturate(hsl(100, 0%, 50%), 13%);
  c14: saturate(hsl(100, 0%, 50%), 14%);
  c15: saturate(hsl(100, 0%, 50%), 15%);
  c16: saturate(hsl(100, 0%, 50%), 16%);
  c17: saturate(hsl(100, 0%, 50%), 17%);
  c18: saturate(hsl(100, 0%, 50%), 18%);
  c19: saturate(hsl(100, 0%, 50%), 19%);
  c20: saturate(hsl(100, 0%, 50%), 20%);
  c21: saturate(hsl(100, 0%, 50%), 21%);
  c22: saturate(hsl(100, 0%, 50%), 22%);
  c23: saturate(hsl(100, 0%, 50%), 23%);
  c24: saturate(hsl(100, 0%, 50%), 24%);
  c25: saturate(hsl(100, 0%, 50%), 25%);
  c26: saturate(hsl(100, 0%, 50%), 26%);
  c27: saturate(hsl(100, 0%, 50%), 27%);
  c28: saturate(hsl(100, 0%, 50%), 28%);
  c29: saturate(hsl(100, 0%, 50%), 29%);
  c30: saturate(hsl(100, 0%, 50%), 30%);
  c31: saturate(hsl(100, 0%, 50%), 31%);
  c32: saturate(hsl(100, 0%, 50%), 32%);
  c33: saturate(hsl(100, 0%, 50%), 33%);
  c34: saturate(hsl(100, 0%, 50%), 34%);
  c35: saturate(hsl(100, 0%, 50%), 35%);
  c36: saturate(hsl(100, 0%, 50%), 36%);
  c37: saturate(hsl(100, 0%, 50%), 37%);
  c38: saturate(hsl(100, 0%, 50%), 38%);
  c39: saturate(hsl(100, 0%, 50%), 39%);
  // c40: saturate(hsl(100, 0%, 50%), 40%);
  c41: saturate(hsl(100, 0%, 50%), 41%);
  c42: saturate(hsl(100, 0%, 50%), 42%);
  c43: saturate(hsl(100, 0%, 50%), 43%);
  c44: saturate(hsl(100, 0%, 50%), 44%);
  c45: saturate(hsl(100, 0%, 50%), 45%);
  c46: saturate(hsl(100, 0%, 50%), 46%);
  c47: saturate(hsl(100, 0%, 50%), 47%);
  c48: saturate(hsl(100, 0%, 50%), 48%);
  c49: saturate(hsl(100, 0%, 50%), 49%);
  c50: saturate(hsl(100, 0%, 50%), 50%);
  c51: saturate(hsl(100, 0%, 50%), 51%);
  c52: saturate(hsl(100, 0%, 50%), 52%);
  c53: saturate(hsl(100, 0%, 50%), 53%);
  c54: saturate(hsl(100, 0%, 50%), 54%);
  c55: saturate(hsl(100, 0%, 50%), 55%);
  c56: saturate(hsl(100, 0%, 50%), 56%);
  c57: saturate(hsl(100, 0%, 50%), 57%);
  c58: saturate(hsl(100, 0%, 50%), 58%);
  c59: saturate(hsl(100, 0%, 50%), 59%);
  c60: saturate(hsl(100, 0%, 50%), 60%);
  c61: saturate(hsl(100, 0%, 50%), 61%);
  c62: saturate(hsl(100, 0%, 50%), 62%);
  c63: saturate(hsl(100, 0%, 50%), 63%);
  c64: saturate(hsl(100, 0%, 50%), 64%);
  c65: saturate(hsl(100, 0%, 50%), 65%);
  c66: saturate(hsl(100, 0%, 50%), 66%);
  c67: saturate(hsl(100, 0%, 50%), 67%);
  c68: saturate(hsl(100, 0%, 50%), 68%);
  c69: saturate(hsl(100, 0%, 50%), 69%);
  c70: saturate(hsl(100, 0%, 50%), 70%);
  c71: saturate(hsl(100, 0%, 50%), 71%);
  c72: saturate(hsl(100, 0%, 50%), 72%);
  c73: saturate(hsl(100, 0%, 50%), 73%);
  c74: saturate(hsl(100, 0%, 50%), 74%);
  c75: saturate(hsl(100, 0%, 50%), 75%);
  c76: saturate(hsl(100, 0%, 50%), 76%);
  c77: saturate(hsl(100, 0%, 50%), 77%);
  c78: saturate(hsl(100, 0%, 50%), 78%);
  c79: saturate(hsl(100, 0%, 50%), 79%);
  // c80: saturate(hsl(100, 0%, 50%), 80%);
  c81: saturate(hsl(100, 0%, 50%), 81%);
  c82: saturate(hsl(100, 0%, 50%), 82%);
  c83: saturate(hsl(100, 0%, 50%), 83%);
  c84: saturate(hsl(100, 0%, 50%), 84%);
  c85: saturate(hsl(100, 0%, 50%), 85%);
  c86: saturate(hsl(100, 0%, 50%), 86%);
  c87: saturate(hsl(100, 0%, 50%), 87%);
  c88: saturate(hsl(100, 0%, 50%), 88%);
  c89: saturate(hsl(100, 0%, 50%), 89%);
  c90: saturate(hsl(100, 0%, 50%), 90%);
  c91: saturate(hsl(100, 0%, 50%), 91%);
  c92: saturate(hsl(100, 0%, 50%), 92%);
  c93: saturate(hsl(100, 0%, 50%), 93%);
  c94: saturate(hsl(100, 0%, 50%), 94%);
  c95: saturate(hsl(100, 0%, 50%), 95%);
  c96: saturate(hsl(100, 0%, 50%), 96%);
  c97: saturate(hsl(100, 0%, 50%), 97%);
  c98: saturate(hsl(100, 0%, 50%), 98%);
  c99: saturate(hsl(100, 0%, 50%), 99%);
  c100: saturate(hsl(100, 0%, 50%), 100%);
}
