foo {
  @if true {
    foo: true;
  } @elseif true {
    foo: false;
  } @else true {
    foo: false;
  }

  @if true {
    bar: true;
  } @else if true {
    bar: false;
  } @else true {
    bar: false;
  }
}
