.foo {
  content: function-exists("feature-exists");
  content: feature-exists("global-variable-shadowing");
  content: feature-exists("extend-selector-pseudoclass");
  content: feature-exists("units-level-3");
  content: feature-exists("at-error");
}
