// This spec tests the intermediate behavior of Sass implementations that have
// deprecated parsing tokens as unquoted strings when they're ambiguous between
// IDs or hex RGBA colors. These implementations should continue to parse those
// tokens as strings, but should emit a warning.
a {
  four-digit: #AbCd;
  eight-digit: #aBcDeFaB;
  four-digit-type: type-of(#abcd);
  eight-digit-type: type-of(#ABCDEFAB);
}
