opaque-to {
  opaque: #112233;
  partial: rgba(17, 34, 51, 0.5);
  transparent: rgba(17, 34, 51, 0);
}

partial-to {
  opaque: blue;
  partial: rgba(0, 0, 255, 0.5);
  transparent: rgba(0, 0, 255, 0);
}

transparent-to {
  opaque: black;
  partial: rgba(0, 0, 0, 0.5);
  transparent: rgba(0, 0, 0, 0);
}

clamped {
  opaque: #112233;
  transparent: rgba(17, 34, 51, 0);
}

named {
  x: rgba(17, 34, 51, 0.5);
}
