a {
  b: aaa 100 ddd 400, bbb 200 eee 500, ccc 300 fff 600;
  b: 3;
  b: list;
  b: aaa 100 ddd 400;
  b: 2;
  b: aaa 100;
  b: ddd 400;
  b: bbb 200 eee 500;
  b: 2;
  b: bbb 200;
  b: eee 500;
  b: ccc 300 fff 600;
  b: 2;
  b: ccc 300;
  b: fff 600;
  c: ddd 400 aaa 100, eee 500 bbb 200, fff 600 ccc 300;
  c: 3;
  c: list;
  c: ddd 400 aaa 100;
  c: 2;
  c: ddd 400;
  c: aaa 100;
  c: eee 500 bbb 200;
  c: 2;
  c: eee 500;
  c: bbb 200;
  c: fff 600 ccc 300;
  c: 2;
  c: fff 600;
  c: ccc 300;
}
