scope {
  var-before: top-level;
  mixin-var-before: mixin-argument;
  content-var-before: content-argument;
  var-in-inner: top-level;
  content-var-after: content-argument;
  mixin-var-after: mixin-argument;
  var-after: top-level;
}
