foo {
  c-1: rgb(0,-1,0);
  c0: rgb(0,0,0);
  c1: rgb(0,1,0);
  c2: rgb(0,2,0);
  c3: rgb(0,3,0);
  c4: rgb(0,4,0);
  c5: rgb(0,5,0);
  c6: rgb(0,6,0);
  c7: rgb(0,7,0);
  c8: rgb(0,8,0);
  c9: rgb(0,9,0);
  c10: rgb(0,10,0);
  c11: rgb(0,11,0);
  c12: rgb(0,12,0);
  c13: rgb(0,13,0);
  c14: rgb(0,14,0);
  c15: rgb(0,15,0);
  c16: rgb(0,16,0);
  c17: rgb(0,17,0);
  c18: rgb(0,18,0);
  c19: rgb(0,19,0);
  c20: rgb(0,20,0);
  c21: rgb(0,21,0);
  c22: rgb(0,22,0);
  c23: rgb(0,23,0);
  c24: rgb(0,24,0);
  c25: rgb(0,25,0);
  c26: rgb(0,26,0);
  c27: rgb(0,27,0);
  c28: rgb(0,28,0);
  c29: rgb(0,29,0);
  c30: rgb(0,30,0);
  c31: rgb(0,31,0);
  c32: rgb(0,32,0);
  c33: rgb(0,33,0);
  c34: rgb(0,34,0);
  c35: rgb(0,35,0);
  c36: rgb(0,36,0);
  c37: rgb(0,37,0);
  c38: rgb(0,38,0);
  c39: rgb(0,39,0);
  c40: rgb(0,40,0);
  c41: rgb(0,41,0);
  c42: rgb(0,42,0);
  c43: rgb(0,43,0);
  c44: rgb(0,44,0);
  c45: rgb(0,45,0);
  c46: rgb(0,46,0);
  c47: rgb(0,47,0);
  c48: rgb(0,48,0);
  c49: rgb(0,49,0);
  c50: rgb(0,50,0);
  c51: rgb(0,51,0);
  c52: rgb(0,52,0);
  c53: rgb(0,53,0);
  c54: rgb(0,54,0);
  c55: rgb(0,55,0);
  c56: rgb(0,56,0);
  c57: rgb(0,57,0);
  c58: rgb(0,58,0);
  c59: rgb(0,59,0);
  c60: rgb(0,60,0);
  c61: rgb(0,61,0);
  c62: rgb(0,62,0);
  c63: rgb(0,63,0);
  c64: rgb(0,64,0);
  c65: rgb(0,65,0);
  c66: rgb(0,66,0);
  c67: rgb(0,67,0);
  c68: rgb(0,68,0);
  c69: rgb(0,69,0);
  c70: rgb(0,70,0);
  c71: rgb(0,71,0);
  c72: rgb(0,72,0);
  c73: rgb(0,73,0);
  c74: rgb(0,74,0);
  c75: rgb(0,75,0);
  c76: rgb(0,76,0);
  c77: rgb(0,77,0);
  c78: rgb(0,78,0);
  c79: rgb(0,79,0);
  c80: rgb(0,80,0);
  c81: rgb(0,81,0);
  c82: rgb(0,82,0);
  c83: rgb(0,83,0);
  c84: rgb(0,84,0);
  c85: rgb(0,85,0);
  c86: rgb(0,86,0);
  c87: rgb(0,87,0);
  c88: rgb(0,88,0);
  c89: rgb(0,89,0);
  c90: rgb(0,90,0);
  c91: rgb(0,91,0);
  c92: rgb(0,92,0);
  c93: rgb(0,93,0);
  c94: rgb(0,94,0);
  c95: rgb(0,95,0);
  c96: rgb(0,96,0);
  c97: rgb(0,97,0);
  c98: rgb(0,98,0);
  c99: rgb(0,99,0);
  c100: rgb(0,100,0);
  c101: rgb(0,101,0);
  c102: rgb(0,102,0);
  c103: rgb(0,103,0);
  c104: rgb(0,104,0);
  c105: rgb(0,105,0);
  c106: rgb(0,106,0);
  c107: rgb(0,107,0);
  c108: rgb(0,108,0);
  c109: rgb(0,109,0);
  c110: rgb(0,110,0);
  c111: rgb(0,111,0);
  c112: rgb(0,112,0);
  c113: rgb(0,113,0);
  c114: rgb(0,114,0);
  c115: rgb(0,115,0);
  c116: rgb(0,116,0);
  c117: rgb(0,117,0);
  c118: rgb(0,118,0);
  c119: rgb(0,119,0);
  c120: rgb(0,120,0);
  c121: rgb(0,121,0);
  c122: rgb(0,122,0);
  c123: rgb(0,123,0);
  c124: rgb(0,124,0);
  c125: rgb(0,125,0);
  c126: rgb(0,126,0);
  c127: rgb(0,127,0);
  c128: rgb(0,128,0);
  c129: rgb(0,129,0);
  c130: rgb(0,130,0);
  c131: rgb(0,131,0);
  c132: rgb(0,132,0);
  c133: rgb(0,133,0);
  c134: rgb(0,134,0);
  c135: rgb(0,135,0);
  c136: rgb(0,136,0);
  c137: rgb(0,137,0);
  c138: rgb(0,138,0);
  c139: rgb(0,139,0);
  c140: rgb(0,140,0);
  c141: rgb(0,141,0);
  c142: rgb(0,142,0);
  c143: rgb(0,143,0);
  c144: rgb(0,144,0);
  c145: rgb(0,145,0);
  c146: rgb(0,146,0);
  c147: rgb(0,147,0);
  c148: rgb(0,148,0);
  c149: rgb(0,149,0);
  c150: rgb(0,150,0);
  c151: rgb(0,151,0);
  c152: rgb(0,152,0);
  c153: rgb(0,153,0);
  c154: rgb(0,154,0);
  c155: rgb(0,155,0);
  c156: rgb(0,156,0);
  c157: rgb(0,157,0);
  c158: rgb(0,158,0);
  c159: rgb(0,159,0);
  c160: rgb(0,160,0);
  c161: rgb(0,161,0);
  c162: rgb(0,162,0);
  c163: rgb(0,163,0);
  c164: rgb(0,164,0);
  c165: rgb(0,165,0);
  c166: rgb(0,166,0);
  c167: rgb(0,167,0);
  c168: rgb(0,168,0);
  c169: rgb(0,169,0);
  c170: rgb(0,170,0);
  c171: rgb(0,171,0);
  c172: rgb(0,172,0);
  c173: rgb(0,173,0);
  c174: rgb(0,174,0);
  c175: rgb(0,175,0);
  c176: rgb(0,176,0);
  c177: rgb(0,177,0);
  c178: rgb(0,178,0);
  c179: rgb(0,179,0);
  c180: rgb(0,180,0);
  c181: rgb(0,181,0);
  c182: rgb(0,182,0);
  c183: rgb(0,183,0);
  c184: rgb(0,184,0);
  c185: rgb(0,185,0);
  c186: rgb(0,186,0);
  c187: rgb(0,187,0);
  c188: rgb(0,188,0);
  c189: rgb(0,189,0);
  c190: rgb(0,190,0);
  c191: rgb(0,191,0);
  c192: rgb(0,192,0);
  c193: rgb(0,193,0);
  c194: rgb(0,194,0);
  c195: rgb(0,195,0);
  c196: rgb(0,196,0);
  c197: rgb(0,197,0);
  c198: rgb(0,198,0);
  c199: rgb(0,199,0);
  c200: rgb(0,200,0);
  c201: rgb(0,201,0);
  c202: rgb(0,202,0);
  c203: rgb(0,203,0);
  c204: rgb(0,204,0);
  c205: rgb(0,205,0);
  c206: rgb(0,206,0);
  c207: rgb(0,207,0);
  c208: rgb(0,208,0);
  c209: rgb(0,209,0);
  c210: rgb(0,210,0);
  c211: rgb(0,211,0);
  c212: rgb(0,212,0);
  c213: rgb(0,213,0);
  c214: rgb(0,214,0);
  c215: rgb(0,215,0);
  c216: rgb(0,216,0);
  c217: rgb(0,217,0);
  c218: rgb(0,218,0);
  c219: rgb(0,219,0);
  c220: rgb(0,220,0);
  c221: rgb(0,221,0);
  c222: rgb(0,222,0);
  c223: rgb(0,223,0);
  c224: rgb(0,224,0);
  c225: rgb(0,225,0);
  c226: rgb(0,226,0);
  c227: rgb(0,227,0);
  c228: rgb(0,228,0);
  c229: rgb(0,229,0);
  c230: rgb(0,230,0);
  c231: rgb(0,231,0);
  c232: rgb(0,232,0);
  c233: rgb(0,233,0);
  c234: rgb(0,234,0);
  c235: rgb(0,235,0);
  c236: rgb(0,236,0);
  c237: rgb(0,237,0);
  c238: rgb(0,238,0);
  c239: rgb(0,239,0);
  c240: rgb(0,240,0);
  c241: rgb(0,241,0);
  c242: rgb(0,242,0);
  c243: rgb(0,243,0);
  c244: rgb(0,244,0);
  c245: rgb(0,245,0);
  c246: rgb(0,246,0);
  c247: rgb(0,247,0);
  c248: rgb(0,248,0);
  c249: rgb(0,249,0);
  c250: rgb(0,250,0);
  c251: rgb(0,251,0);
  c252: rgb(0,252,0);
  c253: rgb(0,253,0);
  c254: rgb(0,254,0);
  c255: rgb(0,255,0);
  c256: rgb(0,256,0);
}

foo {
  c-1: rgb(0,-1%,0);
  c0: rgb(0,0%,0);
  c1: rgb(0,1%,0);
  c2: rgb(0,2%,0);
  c3: rgb(0,3%,0);
  c4: rgb(0,4%,0);
  c5: rgb(0,5%,0);
  c6: rgb(0,6%,0);
  c7: rgb(0,7%,0);
  c8: rgb(0,8%,0);
  c9: rgb(0,9%,0);
  c10: rgb(0,10%,0);
  c11: rgb(0,11%,0);
  c12: rgb(0,12%,0);
  c13: rgb(0,13%,0);
  c14: rgb(0,14%,0);
  c15: rgb(0,15%,0);
  c16: rgb(0,16%,0);
  c17: rgb(0,17%,0);
  c18: rgb(0,18%,0);
  c19: rgb(0,19%,0);
  c20: rgb(0,20%,0);
  c21: rgb(0,21%,0);
  c22: rgb(0,22%,0);
  c23: rgb(0,23%,0);
  c24: rgb(0,24%,0);
  c25: rgb(0,25%,0);
  c26: rgb(0,26%,0);
  c27: rgb(0,27%,0);
  c28: rgb(0,28%,0);
  c29: rgb(0,29%,0);
  c30: rgb(0,30%,0);
  c31: rgb(0,31%,0);
  c32: rgb(0,32%,0);
  c33: rgb(0,33%,0);
  c34: rgb(0,34%,0);
  c35: rgb(0,35%,0);
  c36: rgb(0,36%,0);
  c37: rgb(0,37%,0);
  c38: rgb(0,38%,0);
  c39: rgb(0,39%,0);
  c40: rgb(0,40%,0);
  c41: rgb(0,41%,0);
  c42: rgb(0,42%,0);
  c43: rgb(0,43%,0);
  c44: rgb(0,44%,0);
  c45: rgb(0,45%,0);
  c46: rgb(0,46%,0);
  c47: rgb(0,47%,0);
  c48: rgb(0,48%,0);
  c49: rgb(0,49%,0);
  c50: rgb(0,50%,0);
  c51: rgb(0,51%,0);
  c52: rgb(0,52%,0);
  c53: rgb(0,53%,0);
  c54: rgb(0,54%,0);
  c55: rgb(0,55%,0);
  c56: rgb(0,56%,0);
  c57: rgb(0,57%,0);
  c58: rgb(0,58%,0);
  c59: rgb(0,59%,0);
  c60: rgb(0,60%,0);
  c61: rgb(0,61%,0);
  c62: rgb(0,62%,0);
  c63: rgb(0,63%,0);
  c64: rgb(0,64%,0);
  c65: rgb(0,65%,0);
  c66: rgb(0,66%,0);
  c67: rgb(0,67%,0);
  c68: rgb(0,68%,0);
  c69: rgb(0,69%,0);
  c70: rgb(0,70%,0);
  c71: rgb(0,71%,0);
  c72: rgb(0,72%,0);
  c73: rgb(0,73%,0);
  c74: rgb(0,74%,0);
  c75: rgb(0,75%,0);
  c76: rgb(0,76%,0);
  c77: rgb(0,77%,0);
  c78: rgb(0,78%,0);
  c79: rgb(0,79%,0);
  c80: rgb(0,80%,0);
  c81: rgb(0,81%,0);
  c82: rgb(0,82%,0);
  c83: rgb(0,83%,0);
  c84: rgb(0,84%,0);
  c85: rgb(0,85%,0);
  c86: rgb(0,86%,0);
  c87: rgb(0,87%,0);
  c88: rgb(0,88%,0);
  c89: rgb(0,89%,0);
  c90: rgb(0,90%,0);
  c91: rgb(0,91%,0);
  c92: rgb(0,92%,0);
  c93: rgb(0,93%,0);
  c94: rgb(0,94%,0);
  c95: rgb(0,95%,0);
  c96: rgb(0,96%,0);
  c97: rgb(0,97%,0);
  c98: rgb(0,98%,0);
  c99: rgb(0,99%,0);
  c100: rgb(0,100%,0);
  c101: rgb(0,101%,0);
}
