.result {
  dquoted: "\\1\\2\\3\\4\\5\\6\\7\\8\\9";
  dquoted: "[\\1\\2\\3\\4\\5\\6\\7\\8\\9]";
  dquoted: "\\1\\2\\3\\4\\5\\6\\7\\8\\9";
  dquoted: "\\1\\2\\3\\4\\5\\6\\7\\8\\9";
  dquoted: "['\\1\\2\\3\\4\\5\\6\\7\\8\\9']";
  squoted: "\\1\\2\\3\\4\\5\\6\\7\\8\\9";
  squoted: "[\\1\\2\\3\\4\\5\\6\\7\\8\\9]";
  squoted: "\\1\\2\\3\\4\\5\\6\\7\\8\\9";
  squoted: "\\1\\2\\3\\4\\5\\6\\7\\8\\9";
  squoted: "['\\1\\2\\3\\4\\5\\6\\7\\8\\9']"; }
