$a: 41px;

@function a() {
  @return 42px;
}

foo {
  foo: $a -121px;
  foo: ($a -122px);
  foo: $a*3-123px;
  foo: ($a*3-124px);
  foo: $a*3 -123px;
  foo: ($a*3 -124px);
  foo: $a*3 - 123px;
  foo: ($a*3 - 124px);
  foo: $a*3- 123px;
  foo: ($a*3- 124px);
  foo: $a*3- 123px;
  foo: ($a*3- 124px);
}

bar {
  bar: a() -121px;
  bar: (a() -122px);
  bar: a()*3-123px;
  bar: (a()*3-124px);
  bar: a()*3 -123px;
  bar: (a()*3 -124px);
  bar: a()*3 - 123px;
  bar: (a()*3 - 124px);
  bar: a()*3- 123px;
  bar: (a()*3- 124px);
  bar: a()*3- 123px;
  bar: (a()*3- 124px);
}

baz {
  baz: 43px -121px;
  baz: (43px -122px);
  baz: 43px*3-123px;
  baz: (43px*3-124px);
  baz: 43px*3 -123px;
  baz: (43px*3 -124px);
  baz: 43px*3 - 123px;
  baz: (43px*3 - 124px);
  baz: 43px*3- 123px;
  baz: (43px*3- 124px);
  baz: 43px*3- 123px;
  baz: (43px*3- 124px);
}
