@charset "UTF-8";
foo { content: "x\79"; content: "xy"; content: "x\\79"; content: "x\\79z"; content: "x\0\1\2\3\4\5\6\7\8\9\79\7a"; content: "x�	yz"; content: "x\\0\\1\\2\\3\\4\\5\\6\\7\\8\\9yz"; content: "x\a\A\b\B\c\C\d\D\e\E\f\F\g\G\79\7a"; content: "x\a \a gGyz"; content: "x\\a\\A\\b\\B\\c\\C\\d\\D\\e\\E\\f\\F\\g\\G\\79z"; }

baz { asd: "\79"; asd: "\\79z"; content: "xy\\7a"; }
