foo {
  foo: "'foo'";
  baz: "\"bar\"";
  eval_foo: "'foo'";
  eval_baz: '"bar"';
  var_foo: "'foo'";
  var_bar: '"bar"';
  foo_itp: 'foo';
  bar_itp: "bar";
  foo_var_itp: 'foo';
  bar_var_itp: "bar";
  foo_var_itp_dq: '\\" foo \\"';
  bar_var_itp_sq: '"bar"';
  foo_var_dq_itp: "'foo'";
  bar_var_dq_itp: '"bar"';
  foo_var_sq_itp: "'foo'";
  bar_var_sq_itp: '"bar"';
  foo_var_ditp: 'foo';
  bar_var_ditp: "bar";
  foo_var_ditp_dq: 'foo';
  bar_var_ditp_dq: "bar";
  foo_var_ditp_sq: 'foo';
  bar_var_ditp_sq: "bar";
  foo_var_titp: 'foo';
  bar_var_titp: "bar";
  foo_var_titp_dq: 'foo';
  bar_var_titp_dq: "bar";
  foo_var_titp_sq: 'foo';
  bar_var_titp_sq: "bar";
  foo_var_sq_ditp_sq: "'foo'";
  bar_var_sq_ditp_sq: '"bar"';
  foo_var_dq_ditp_dq: "'foo'";
  bar_var_dq_ditp_dq: '"bar"';
  unquote_foo: 'foo';
  unquote_baz: "bar";
  unquote_foo_var: 'foo';
  unquote_baz_var: "bar";
  unquote_foo_itp: 'foo';
  unquote_baz_itp: "bar";
  unquote_foo_var_itp: 'foo';
  unquote_baz_var_itp: "bar";
  unquote_foo_var_dq_itp: 'foo';
  unquote_baz_var_dq_itp: "bar";
  unquote_foo_var_sq_itp: 'foo';
  unquote_baz_var_sq_itp: "bar";
  unquote_foo_var_ditp: 'foo';
  unquote_baz_var_ditp: "bar";
  unquote_foo_var_ditp_dq: 'foo';
  unquote_baz_var_ditp_dq: "bar";
  unquote_foo_var_ditp_sq: 'foo';
  unquote_baz_var_ditp_sq: "bar";
  unquote_foo_var_dq_ditp_sq: 'foo';
  unquote_baz_var_dq_ditp_sq: "bar";
  unquote_foo_var_sq_ditp_dq: 'foo';
  unquote_baz_var_sq_ditp_dq: "bar";
  unquote_foo_var_titp: 'foo';
  unquote_baz_var_titp: "bar";
  unquote_foo_var_titp_dq: 'foo';
  unquote_baz_var_titp_dq: "bar";
  unquote_foo_var_titp_sq: 'foo';
  unquote_baz_var_titp_sq: "bar"; }
