a {
  four-digit: #0123;
  eight-digit: #98765432;

  // Verify that the color channels are set correctly.
  four-digit-red: red(#0123);
  four-digit-green: green(#0123);
  four-digit-blue: blue(#0123);
  four-digit-alpha: alpha(#0123);

  eight-digit-red: red(#98765432);
  eight-digit-green: green(#98765432);
  eight-digit-blue: blue(#98765432);
  eight-digit-alpha: alpha(#98765432);
}
