foo {
  @at-root {
    %placeholder {
      color: red;
    }
  }

  baz {
    @at-root {
      %other-placeholder {
        color: blue;
      }
    }
  }

  %ampersand-placeholder & {
    color: green;
  }

  @at-root {
    qux {
      @extend %ampersand-placeholder;
    }
  }
}

bar {
  @extend %placeholder;
}

baz {
  @extend %other-placeholder;
}

bam {
  @extend %ampersand-placeholder;
}
