foo bar {
    &:baz {
        bam: true;
    }
}

foo + bar {
    &:baz {
        bam: true;
    }
}

foo > bar {
    &:baz {
        bam: true;
    }
}

foo ~ bar {
    &:baz {
        bam: true;
    }
}

foo /deep/ bar {
    &:baz {
        bam: true;
    }
}
