foo {
  test-1: literal/literal/literal;
  test-2: literal /literal /literal;
  test-3: literal/ literal/ literal;
  test-4: literal / literal / literal;
  test-5: literal/literal/"quoted";
  test-6: literal /literal /"quoted";
  test-7: literal/ literal/ "quoted";
  test-8: literal / literal / "quoted";
  test-9: literal/literal/#{interpolant};
  test-10: literal /literal /#{interpolant};
  test-11: literal/ literal/ #{interpolant};
  test-12: literal / literal / #{interpolant};
  test-13: literal/literal/lschema_#{ritlp};
  test-14: literal /literal /lschema_#{ritlp};
  test-15: literal/ literal/ lschema_#{ritlp};
  test-16: literal / literal / lschema_#{ritlp};
  test-17: literal/literal/#{litlp}_rschema;
  test-18: literal /literal /#{litlp}_rschema;
  test-19: literal/ literal/ #{litlp}_rschema;
  test-20: literal / literal / #{litlp}_rschema;
  test-21: literal/"quoted"/"quoted";
  test-22: literal /"quoted" /"quoted";
  test-23: literal/ "quoted"/ "quoted";
  test-24: literal / "quoted" / "quoted";
  test-25: literal/"quoted"/#{interpolant};
  test-26: literal /"quoted" /#{interpolant};
  test-27: literal/ "quoted"/ #{interpolant};
  test-28: literal / "quoted" / #{interpolant};
  test-29: literal/"quoted"/lschema_#{ritlp};
  test-30: literal /"quoted" /lschema_#{ritlp};
  test-31: literal/ "quoted"/ lschema_#{ritlp};
  test-32: literal / "quoted" / lschema_#{ritlp};
  test-33: literal/"quoted"/#{litlp}_rschema;
  test-34: literal /"quoted" /#{litlp}_rschema;
  test-35: literal/ "quoted"/ #{litlp}_rschema;
  test-36: literal / "quoted" / #{litlp}_rschema;
  test-37: literal/#{interpolant}/#{interpolant};
  test-38: literal /#{interpolant} /#{interpolant};
  test-39: literal/ #{interpolant}/ #{interpolant};
  test-40: literal / #{interpolant} / #{interpolant};
  test-41: literal/#{interpolant}/lschema_#{ritlp};
  test-42: literal /#{interpolant} /lschema_#{ritlp};
  test-43: literal/ #{interpolant}/ lschema_#{ritlp};
  test-44: literal / #{interpolant} / lschema_#{ritlp};
  test-45: literal/#{interpolant}/#{litlp}_rschema;
  test-46: literal /#{interpolant} /#{litlp}_rschema;
  test-47: literal/ #{interpolant}/ #{litlp}_rschema;
  test-48: literal / #{interpolant} / #{litlp}_rschema;
  test-49: literal/lschema_#{ritlp}/lschema_#{ritlp};
  test-50: literal /lschema_#{ritlp} /lschema_#{ritlp};
  test-51: literal/ lschema_#{ritlp}/ lschema_#{ritlp};
  test-52: literal / lschema_#{ritlp} / lschema_#{ritlp};
  test-53: literal/lschema_#{ritlp}/#{litlp}_rschema;
  test-54: literal /lschema_#{ritlp} /#{litlp}_rschema;
  test-55: literal/ lschema_#{ritlp}/ #{litlp}_rschema;
  test-56: literal / lschema_#{ritlp} / #{litlp}_rschema;
  test-57: literal/#{litlp}_rschema/#{litlp}_rschema;
  test-58: literal /#{litlp}_rschema /#{litlp}_rschema;
  test-59: literal/ #{litlp}_rschema/ #{litlp}_rschema;
  test-60: literal / #{litlp}_rschema / #{litlp}_rschema;
  test-61: "quoted"/"quoted"/"quoted";
  test-62: "quoted" /"quoted" /"quoted";
  test-63: "quoted"/ "quoted"/ "quoted";
  test-64: "quoted" / "quoted" / "quoted";
  test-65: "quoted"/"quoted"/#{interpolant};
  test-66: "quoted" /"quoted" /#{interpolant};
  test-67: "quoted"/ "quoted"/ #{interpolant};
  test-68: "quoted" / "quoted" / #{interpolant};
  test-69: "quoted"/"quoted"/lschema_#{ritlp};
  test-70: "quoted" /"quoted" /lschema_#{ritlp};
  test-71: "quoted"/ "quoted"/ lschema_#{ritlp};
  test-72: "quoted" / "quoted" / lschema_#{ritlp};
  test-73: "quoted"/"quoted"/#{litlp}_rschema;
  test-74: "quoted" /"quoted" /#{litlp}_rschema;
  test-75: "quoted"/ "quoted"/ #{litlp}_rschema;
  test-76: "quoted" / "quoted" / #{litlp}_rschema;
  test-77: "quoted"/#{interpolant}/#{interpolant};
  test-78: "quoted" /#{interpolant} /#{interpolant};
  test-79: "quoted"/ #{interpolant}/ #{interpolant};
  test-80: "quoted" / #{interpolant} / #{interpolant};
  test-81: "quoted"/#{interpolant}/lschema_#{ritlp};
  test-82: "quoted" /#{interpolant} /lschema_#{ritlp};
  test-83: "quoted"/ #{interpolant}/ lschema_#{ritlp};
  test-84: "quoted" / #{interpolant} / lschema_#{ritlp};
  test-85: "quoted"/#{interpolant}/#{litlp}_rschema;
  test-86: "quoted" /#{interpolant} /#{litlp}_rschema;
  test-87: "quoted"/ #{interpolant}/ #{litlp}_rschema;
  test-88: "quoted" / #{interpolant} / #{litlp}_rschema;
  test-89: "quoted"/lschema_#{ritlp}/lschema_#{ritlp};
  test-90: "quoted" /lschema_#{ritlp} /lschema_#{ritlp};
  test-91: "quoted"/ lschema_#{ritlp}/ lschema_#{ritlp};
  test-92: "quoted" / lschema_#{ritlp} / lschema_#{ritlp};
  test-93: "quoted"/lschema_#{ritlp}/#{litlp}_rschema;
  test-94: "quoted" /lschema_#{ritlp} /#{litlp}_rschema;
  test-95: "quoted"/ lschema_#{ritlp}/ #{litlp}_rschema;
  test-96: "quoted" / lschema_#{ritlp} / #{litlp}_rschema;
  test-97: "quoted"/#{litlp}_rschema/#{litlp}_rschema;
  test-98: "quoted" /#{litlp}_rschema /#{litlp}_rschema;
  test-99: "quoted"/ #{litlp}_rschema/ #{litlp}_rschema;
  test-100: "quoted" / #{litlp}_rschema / #{litlp}_rschema;
  test-101: #{interpolant}/#{interpolant}/#{interpolant};
  test-102: #{interpolant} /#{interpolant} /#{interpolant};
  test-103: #{interpolant}/ #{interpolant}/ #{interpolant};
  test-104: #{interpolant} / #{interpolant} / #{interpolant};
  test-105: #{interpolant}/#{interpolant}/lschema_#{ritlp};
  test-106: #{interpolant} /#{interpolant} /lschema_#{ritlp};
  test-107: #{interpolant}/ #{interpolant}/ lschema_#{ritlp};
  test-108: #{interpolant} / #{interpolant} / lschema_#{ritlp};
  test-109: #{interpolant}/#{interpolant}/#{litlp}_rschema;
  test-110: #{interpolant} /#{interpolant} /#{litlp}_rschema;
  test-111: #{interpolant}/ #{interpolant}/ #{litlp}_rschema;
  test-112: #{interpolant} / #{interpolant} / #{litlp}_rschema;
  test-113: #{interpolant}/lschema_#{ritlp}/lschema_#{ritlp};
  test-114: #{interpolant} /lschema_#{ritlp} /lschema_#{ritlp};
  test-115: #{interpolant}/ lschema_#{ritlp}/ lschema_#{ritlp};
  test-116: #{interpolant} / lschema_#{ritlp} / lschema_#{ritlp};
  test-117: #{interpolant}/lschema_#{ritlp}/#{litlp}_rschema;
  test-118: #{interpolant} /lschema_#{ritlp} /#{litlp}_rschema;
  test-119: #{interpolant}/ lschema_#{ritlp}/ #{litlp}_rschema;
  test-120: #{interpolant} / lschema_#{ritlp} / #{litlp}_rschema;
  test-121: #{interpolant}/#{litlp}_rschema/#{litlp}_rschema;
  test-122: #{interpolant} /#{litlp}_rschema /#{litlp}_rschema;
  test-123: #{interpolant}/ #{litlp}_rschema/ #{litlp}_rschema;
  test-124: #{interpolant} / #{litlp}_rschema / #{litlp}_rschema;
  test-125: lschema_#{ritlp}/lschema_#{ritlp}/lschema_#{ritlp};
  test-126: lschema_#{ritlp} /lschema_#{ritlp} /lschema_#{ritlp};
  test-127: lschema_#{ritlp}/ lschema_#{ritlp}/ lschema_#{ritlp};
  test-128: lschema_#{ritlp} / lschema_#{ritlp} / lschema_#{ritlp};
  test-129: lschema_#{ritlp}/lschema_#{ritlp}/#{litlp}_rschema;
  test-130: lschema_#{ritlp} /lschema_#{ritlp} /#{litlp}_rschema;
  test-131: lschema_#{ritlp}/ lschema_#{ritlp}/ #{litlp}_rschema;
  test-132: lschema_#{ritlp} / lschema_#{ritlp} / #{litlp}_rschema;
  test-133: lschema_#{ritlp}/#{litlp}_rschema/#{litlp}_rschema;
  test-134: lschema_#{ritlp} /#{litlp}_rschema /#{litlp}_rschema;
  test-135: lschema_#{ritlp}/ #{litlp}_rschema/ #{litlp}_rschema;
  test-136: lschema_#{ritlp} / #{litlp}_rschema / #{litlp}_rschema;
  test-137: #{litlp}_rschema/#{litlp}_rschema/#{litlp}_rschema;
  test-138: #{litlp}_rschema /#{litlp}_rschema /#{litlp}_rschema;
  test-139: #{litlp}_rschema/ #{litlp}_rschema/ #{litlp}_rschema;
  test-140: #{litlp}_rschema / #{litlp}_rschema / #{litlp}_rschema;
}
