foo bar {
    & baz {
        bam: true;
    }
    baz & {
        bam: true;
    }
}

foo + bar {
    & baz {
        bam: true;
    }
    baz & {
        bam: true;
    }
}

foo > bar {
    & baz {
        bam: true;
    }
    baz & {
        bam: true;
    }
}

foo ~ bar {
    & baz {
        bam: true;
    }
    baz & {
        bam: true;
    }
}
