@media (100px < width < 500px) {
  a {
    interpolation: total;
  }
}

@media (100px < width < 500px) {
  a {
    interpolation: in-parens;
  }
}

@media (100px < width < 500px) {
  a {
    interpolation: left;
  }
}

@media (100px < width < 500px) {
  a {
    interpolation: right;
  }
}
