div {
  baz: 2/3;
  baz: 2/  3;
  baz: 2  /3;
  baz: 2  /  3; }

add {
  baz: 5;
  baz: 5;
  baz: 2  +3;
  baz: 5; }

sub {
  baz: -1;
  baz: -1;
  baz: 2  -3;
  baz: -1; }

mul {
  baz: 6;
  baz: 6;
  baz: 6;
  baz: 6; }

mod {
  baz: 2% 3;
  baz: 2%  3;
  baz: 2;
  baz: 2; }
