no-alpha {
  calc-1: hsla(calc(1) 2% 3%);
  calc-2: hsla(1 calc(2%) 3%);
  calc-3: hsla(1 2% calc(3%));

  var-1: hsla(var(--foo) 2% 3%);
  var-2: hsla(1 var(--foo) 3%);
  var-3: hsla(1 2% var(--foo));

  // var() is substituted before parsing, so it may contain multiple arguments.
  multi-argument-var-1-of-2: hsla(var(--foo) 50%);
  multi-argument-var-2-of-2: hsla(0 var(--foo));
  multi-argument-var-1-of-1: hsla(var(--foo));
}

alpha {
  calc-1: hsla(calc(1) 2% 3% / 0.4);
  calc-2: hsla(1 calc(2%) 3% / 0.4);
  calc-3: hsla(1 2% calc(3%) / 0.4);
  calc-4: hsla(1 2% 3% / calc(0.4));

  var-1: hsla(var(--foo) 2% 3% / 0.4);
  var-2: hsla(1 var(--foo) 3% / 0.4);
  var-3: hsla(1 2% var(--foo) / 0.4);
  var-4: hsla(1 2% 3% / var(0.4));

  // var() is substituted before parsing, so it may contain multiple arguments.
  multi-argument-var-1-of-2: hsla(var(--foo) 50% / 0.4);
  multi-argument-var-2-of-2: hsla(0 var(--foo) / 0.4);
  multi-argument-var-1-of-1: hsla(var(--foo) / 0.4);
}
