a {
  calc-1: hsl(calc(1), 2%, 3%, 0.4);
  calc-2: hsl(1, calc(2%), 3%, 0.4);
  calc-3: hsl(1, 2%, calc(3%), 0.4);
  calc-4: hsl(1, 2%, 3%, calc(0.4));

  var-1: hsl(var(--foo), 2%, 3%, 0.4);
  var-2: hsl(1, var(--foo), 3%, 0.4);
  var-3: hsl(1, 2%, var(--foo), 0.4);
  var-4: hsl(1, 2%, 3%, var(0.4));
}
