a {
  calc-1: hsla(calc(1), 2%, 3%);
  calc-2: hsla(1, calc(2%), 3%);
  calc-3: hsla(1, 2%, calc(3%));

  var-1: hsla(var(--foo), 2%, 3%);
  var-2: hsla(1, var(--foo), 3%);
  var-3: hsla(1, 2%, var(--foo));
}
