by-position {
  arg1: value1;
  arg2: value2;
}

by-name {
  arg1: value1;
  arg2: value2;
}

list-splat {
  arg1: value1;
  arg2: value2;
}

map-splat {
  arg1: value1;
  arg2: value2;
}

mixed-splat {
  arg1: value1;
  arg2: value2;
}
