a {
  calc-1: rgba(calc(1), 2, 3, 0.4);
  calc-2: rgba(1, calc(2), 3, 0.4);
  calc-3: rgba(1, 2, calc(3), 0.4);
  calc-4: rgba(1, 2, 3, calc(0.4));

  var-1: rgba(var(--foo), 2, 3, 0.4);
  var-2: rgba(1, var(--foo), 3, 0.4);
  var-3: rgba(1, 2, var(--foo), 0.4);
  var-4: rgba(1, 2, 3, var(0.4));

  calc-2-args: rgba(blue, calc(0.4));
  var-2-args-alpha: rgba(blue, var(0.4));
  var-2-args-color: rgba(var(--foo), 0.4);
  var-2-args-both: rgba(var(--foo), var(0.4));
}
