p {
  color: rgb(255, 128, 0);
  color: red green blue;
  color: (red) (green) (blue);
  color: red + green;
  color: red + hux;
  color: unquote("red") + green;
  color: unquote(red) + green;
  color: unquote(0xf00);
  color: saturate(#f00, 10%);
  color: saturate(#900, 10%);
  color: saturate(#000, 10%);
  color: desaturate(#fff, 10%);
  color: desaturate(#999, 10%);
  color: desaturate(#000, 10%);
}