foo {
  c-1: #ff0004;
  c0: red;
  c1: #ff0400;
  c2: #ff0900;
  c3: #ff0d00;
  c4: #ff1100;
  c5: #ff1500;
  c6: #ff1a00;
  c7: #ff1e00;
  c8: #ff2200;
  c9: #ff2600;
  c10: #ff2b00;
  c11: #ff2f00;
  c12: #ff3300;
  c13: #ff3700;
  c14: #ff3c00;
  c15: #ff4000;
  c16: #ff4400;
  c17: #ff4800;
  c18: #ff4d00;
  c19: #ff5100;
  c20: #ff5500;
  c21: #ff5900;
  c22: #ff5e00;
  c23: #ff6200;
  c24: #ff6600;
  c25: #ff6a00;
  c26: #ff6f00;
  c27: #ff7300;
  c28: #ff7700;
  c29: #ff7b00;
  c30: #ff8000;
  c31: #ff8400;
  c32: #ff8800;
  c33: darkorange;
  c34: #ff9100;
  c35: #ff9500;
  c36: #ff9900;
  c37: #ff9d00;
  c38: #ffa200;
  c39: #ffa600;
  c40: #ffaa00;
  c41: #ffae00;
  c42: #ffb300;
  c43: #ffb700;
  c44: #ffbb00;
  c45: #ffbf00;
  c46: #ffc400;
  c47: #ffc800;
  c48: #ffcc00;
  c49: #ffd000;
  c50: #ffd500;
  c51: #ffd900;
  c52: #ffdd00;
  c53: #ffe100;
  c54: #ffe600;
  c55: #ffea00;
  c56: #ffee00;
  c57: #fff200;
  c58: #fff700;
  c59: #fffb00;
  c60: yellow;
  c61: #fbff00;
  c62: #f7ff00;
  c63: #f2ff00;
  c64: #eeff00;
  c65: #eaff00;
  c66: #e6ff00;
  c67: #e1ff00;
  c68: #ddff00;
  c69: #d9ff00;
  c70: #d5ff00;
  c71: #d0ff00;
  c72: #ccff00;
  c73: #c8ff00;
  c74: #c4ff00;
  c75: #bfff00;
  c76: #bbff00;
  c77: #b7ff00;
  c78: #b3ff00;
  c79: #aeff00;
  c80: #aaff00;
  c81: #a6ff00;
  c82: #a2ff00;
  c83: #9dff00;
  c84: #99ff00;
  c85: #95ff00;
  c86: #91ff00;
  c87: #8cff00;
  c88: #88ff00;
  c89: #84ff00;
  c90: #80ff00;
  c91: #7bff00;
  c92: #77ff00;
  c93: #73ff00;
  c94: #6fff00;
  c95: #6aff00;
  c96: #66ff00;
  c97: #62ff00;
  c98: #5eff00;
  c99: #59ff00;
  c100: #55ff00;
  c101: #51ff00;
  c102: #4dff00;
  c103: #48ff00;
  c104: #44ff00;
  c105: #40ff00;
  c106: #3cff00;
  c107: #37ff00;
  c108: #33ff00;
  c109: #2fff00;
  c110: #2bff00;
  c111: #26ff00;
  c112: #22ff00;
  c113: #1eff00;
  c114: #1aff00;
  c115: #15ff00;
  c116: #11ff00;
  c117: #0dff00;
  c118: #09ff00;
  c119: #04ff00;
  c120: lime;
  c121: #00ff04;
  c122: #00ff09;
  c123: #00ff0d;
  c124: #00ff11;
  c125: #00ff15;
  c126: #00ff1a;
  c127: #00ff1e;
  c128: #00ff22;
  c129: #00ff26;
  c130: #00ff2b;
  c131: #00ff2f;
  c132: #00ff33;
  c133: #00ff37;
  c134: #00ff3c;
  c135: #00ff40;
  c136: #00ff44;
  c137: #00ff48;
  c138: #00ff4d;
  c139: #00ff51;
  c140: #00ff55;
  c141: #00ff59;
  c142: #00ff5e;
  c143: #00ff62;
  c144: #00ff66;
  c145: #00ff6a;
  c146: #00ff6f;
  c147: #00ff73;
  c148: #00ff77;
  c149: #00ff7b;
  c150: #00ff80;
  c151: #00ff84;
  c152: #00ff88;
  c153: #00ff8c;
  c154: #00ff91;
  c155: #00ff95;
  c156: #00ff99;
  c157: #00ff9d;
  c158: #00ffa2;
  c159: #00ffa6;
  c160: #00ffaa;
  c161: #00ffae;
  c162: #00ffb3;
  c163: #00ffb7;
  c164: #00ffbb;
  c165: #00ffbf;
  c166: #00ffc4;
  c167: #00ffc8;
  c168: #00ffcc;
  c169: #00ffd0;
  c170: #00ffd5;
  c171: #00ffd9;
  c172: #00ffdd;
  c173: #00ffe1;
  c174: #00ffe6;
  c175: #00ffea;
  c176: #00ffee;
  c177: #00fff2;
  c178: #00fff7;
  c179: #00fffb;
  c180: cyan;
  c181: #00fbff;
  c182: #00f7ff;
  c183: #00f2ff;
  c184: #00eeff;
  c185: #00eaff;
  c186: #00e6ff;
  c187: #00e1ff;
  c188: #00ddff;
  c189: #00d9ff;
  c190: #00d5ff;
  c191: #00d0ff;
  c192: #00ccff;
  c193: #00c8ff;
  c194: #00c4ff;
  c195: deepskyblue;
  c196: #00bbff;
  c197: #00b7ff;
  c198: #00b3ff;
  c199: #00aeff;
  c200: #00aaff;
  c201: #00a6ff;
  c202: #00a2ff;
  c203: #009dff;
  c204: #0099ff;
  c205: #0095ff;
  c206: #0091ff;
  c207: #008cff;
  c208: #0088ff;
  c209: #0084ff;
  c210: #0080ff;
  c211: #007bff;
  c212: #0077ff;
  c213: #0073ff;
  c214: #006fff;
  c215: #006aff;
  c216: #0066ff;
  c217: #0062ff;
  c218: #005eff;
  c219: #0059ff;
  c220: #0055ff;
  c221: #0051ff;
  c222: #004dff;
  c223: #0048ff;
  c224: #0044ff;
  c225: #0040ff;
  c226: #003cff;
  c227: #0037ff;
  c228: #0033ff;
  c229: #002fff;
  c230: #002bff;
  c231: #0026ff;
  c232: #0022ff;
  c233: #001eff;
  c234: #001aff;
  c235: #0015ff;
  c236: #0011ff;
  c237: #000dff;
  c238: #0009ff;
  c239: #0004ff;
  c240: blue;
  c241: #0400ff;
  c242: #0900ff;
  c243: #0d00ff;
  c244: #1100ff;
  c245: #1500ff;
  c246: #1a00ff;
  c247: #1e00ff;
  c248: #2200ff;
  c249: #2600ff;
  c250: #2b00ff;
  c251: #2f00ff;
  c252: #3300ff;
  c253: #3700ff;
  c254: #3c00ff;
  c255: #4000ff;
  c256: #4400ff;
  c257: #4800ff;
  c258: #4d00ff;
  c259: #5100ff;
  c260: #5500ff;
  c261: #5900ff;
  c262: #5e00ff;
  c263: #6200ff;
  c264: #6600ff;
  c265: #6a00ff;
  c266: #6f00ff;
  c267: #7300ff;
  c268: #7700ff;
  c269: #7b00ff;
  c270: #8000ff;
  c271: #8400ff;
  c272: #8800ff;
  c273: #8c00ff;
  c274: #9100ff;
  c275: #9500ff;
  c276: #9900ff;
  c277: #9d00ff;
  c278: #a200ff;
  c279: #a600ff;
  c280: #aa00ff;
  c281: #ae00ff;
  c282: #b300ff;
  c283: #b700ff;
  c284: #bb00ff;
  c285: #bf00ff;
  c286: #c400ff;
  c287: #c800ff;
  c288: #cc00ff;
  c289: #d000ff;
  c290: #d500ff;
  c291: #d900ff;
  c292: #dd00ff;
  c293: #e100ff;
  c294: #e600ff;
  c295: #ea00ff;
  c296: #ee00ff;
  c297: #f200ff;
  c298: #f700ff;
  c299: #fb00ff;
  c300: magenta;
  c301: #ff00fb;
  c302: #ff00f7;
  c303: #ff00f2;
  c304: #ff00ee;
  c305: #ff00ea;
  c306: #ff00e6;
  c307: #ff00e1;
  c308: #ff00dd;
  c309: #ff00d9;
  c310: #ff00d5;
  c311: #ff00d0;
  c312: #ff00cc;
  c313: #ff00c8;
  c314: #ff00c4;
  c315: #ff00bf;
  c316: #ff00bb;
  c317: #ff00b7;
  c318: #ff00b3;
  c319: #ff00ae;
  c320: #ff00aa;
  c321: #ff00a6;
  c322: #ff00a2;
  c323: #ff009d;
  c324: #ff0099;
  c325: #ff0095;
  c326: #ff0091;
  c327: #ff008c;
  c328: #ff0088;
  c329: #ff0084;
  c330: #ff0080;
  c331: #ff007b;
  c332: #ff0077;
  c333: #ff0073;
  c334: #ff006f;
  c335: #ff006a;
  c336: #ff0066;
  c337: #ff0062;
  c338: #ff005e;
  c339: #ff0059;
  c340: #ff0055;
  c341: #ff0051;
  c342: #ff004d;
  c343: #ff0048;
  c344: #ff0044;
  c345: #ff0040;
  c346: #ff003c;
  c347: #ff0037;
  c348: #ff0033;
  c349: #ff002f;
  c350: #ff002b;
  c351: #ff0026;
  c352: #ff0022;
  c353: #ff001e;
  c354: #ff001a;
  c355: #ff0015;
  c356: #ff0011;
  c357: #ff000d;
  c358: #ff0009;
  c359: #ff0004;
  c360: red; }
