foo {
  c0: alpha(rgba(0,0,0,0%));
  c1: alpha(rgba(0,0,0,1%));
  c2: alpha(rgba(0,0,0,2%));
  c3: alpha(rgba(0,0,0,3%));
  c4: alpha(rgba(0,0,0,4%));
  c5: alpha(rgba(0,0,0,5%));
  c6: alpha(rgba(0,0,0,6%));
  c7: alpha(rgba(0,0,0,7%));
  c8: alpha(rgba(0,0,0,8%));
  c9: alpha(rgba(0,0,0,9%));
  c10: alpha(rgba(0,0,0,10%));
  c11: alpha(rgba(0,0,0,11%));
  c12: alpha(rgba(0,0,0,12%));
  c13: alpha(rgba(0,0,0,13%));
  c14: alpha(rgba(0,0,0,14%));
  c15: alpha(rgba(0,0,0,15%));
  c16: alpha(rgba(0,0,0,16%));
  c17: alpha(rgba(0,0,0,17%));
  c18: alpha(rgba(0,0,0,18%));
  c19: alpha(rgba(0,0,0,19%));
  c20: alpha(rgba(0,0,0,20%));
  c21: alpha(rgba(0,0,0,21%));
  c22: alpha(rgba(0,0,0,22%));
  c23: alpha(rgba(0,0,0,23%));
  c24: alpha(rgba(0,0,0,24%));
  c25: alpha(rgba(0,0,0,25%));
  c26: alpha(rgba(0,0,0,26%));
  c27: alpha(rgba(0,0,0,27%));
  c28: alpha(rgba(0,0,0,28%));
  c29: alpha(rgba(0,0,0,29%));
  c30: alpha(rgba(0,0,0,30%));
  c31: alpha(rgba(0,0,0,31%));
  c32: alpha(rgba(0,0,0,32%));
  c33: alpha(rgba(0,0,0,33%));
  c34: alpha(rgba(0,0,0,34%));
  c35: alpha(rgba(0,0,0,35%));
  c36: alpha(rgba(0,0,0,36%));
  c37: alpha(rgba(0,0,0,37%));
  c38: alpha(rgba(0,0,0,38%));
  c39: alpha(rgba(0,0,0,39%));
  c40: alpha(rgba(0,0,0,40%));
  c41: alpha(rgba(0,0,0,41%));
  c42: alpha(rgba(0,0,0,42%));
  c43: alpha(rgba(0,0,0,43%));
  c44: alpha(rgba(0,0,0,44%));
  c45: alpha(rgba(0,0,0,45%));
  c46: alpha(rgba(0,0,0,46%));
  c47: alpha(rgba(0,0,0,47%));
  c48: alpha(rgba(0,0,0,48%));
  c49: alpha(rgba(0,0,0,49%));
  c50: alpha(rgba(0,0,0,50%));
  c51: alpha(rgba(0,0,0,51%));
  c52: alpha(rgba(0,0,0,52%));
  c53: alpha(rgba(0,0,0,53%));
  c54: alpha(rgba(0,0,0,54%));
  c55: alpha(rgba(0,0,0,55%));
  c56: alpha(rgba(0,0,0,56%));
  c57: alpha(rgba(0,0,0,57%));
  c58: alpha(rgba(0,0,0,58%));
  c59: alpha(rgba(0,0,0,59%));
  c60: alpha(rgba(0,0,0,60%));
  c61: alpha(rgba(0,0,0,61%));
  c62: alpha(rgba(0,0,0,62%));
  c63: alpha(rgba(0,0,0,63%));
  c64: alpha(rgba(0,0,0,64%));
  c65: alpha(rgba(0,0,0,65%));
  c66: alpha(rgba(0,0,0,66%));
  c67: alpha(rgba(0,0,0,67%));
  c68: alpha(rgba(0,0,0,68%));
  c69: alpha(rgba(0,0,0,69%));
  c70: alpha(rgba(0,0,0,70%));
  c71: alpha(rgba(0,0,0,71%));
  c72: alpha(rgba(0,0,0,72%));
  c73: alpha(rgba(0,0,0,73%));
  c74: alpha(rgba(0,0,0,74%));
  c75: alpha(rgba(0,0,0,75%));
  c76: alpha(rgba(0,0,0,76%));
  c77: alpha(rgba(0,0,0,77%));
  c78: alpha(rgba(0,0,0,78%));
  c79: alpha(rgba(0,0,0,79%));
  c80: alpha(rgba(0,0,0,80%));
  c81: alpha(rgba(0,0,0,81%));
  c82: alpha(rgba(0,0,0,82%));
  c83: alpha(rgba(0,0,0,83%));
  c84: alpha(rgba(0,0,0,84%));
  c85: alpha(rgba(0,0,0,85%));
  c86: alpha(rgba(0,0,0,86%));
  c87: alpha(rgba(0,0,0,87%));
  c88: alpha(rgba(0,0,0,88%));
  c89: alpha(rgba(0,0,0,89%));
  c90: alpha(rgba(0,0,0,90%));
  c91: alpha(rgba(0,0,0,91%));
  c92: alpha(rgba(0,0,0,92%));
  c93: alpha(rgba(0,0,0,93%));
  c94: alpha(rgba(0,0,0,94%));
  c95: alpha(rgba(0,0,0,95%));
  c96: alpha(rgba(0,0,0,96%));
  c97: alpha(rgba(0,0,0,97%));
  c98: alpha(rgba(0,0,0,98%));
  c99: alpha(rgba(0,0,0,99%));
  c100: alpha(rgba(0,0,0,100%));
}
