div {
  foo: 1a2b3c;
  length-1: 1;
  unit-1: "a2b3c";
  result-1: 0.25em;
  result-2: 1em;
  result-3: 1.25em;
  result-4: 0.5em;
  result-5: 0.5em;
  type-1: number;
  type-2: number;
  type-3: number;
  type-4: number;
  type-5: number;
  type-6: number;
  test-1: -1-em;
  test-1: -1-em;
  test-2: -1-em;
  test-2: -1-em;
  test-3: -1-A-em;
  test-3: -1-A-em;
  test-4: -1_em--_--e;
  test-4: -1_em--_--e;
  test-5: -1_em--_--e0;
  test-5: -1_em--_--e0;
  test-6: -1_em--_--e0__;
  test-6: -1_em--_--e0__;
  test-7: -1\65 _em--_--e0;
  test-7: -1\65 _em--_--e0;
}
