div {
  $foo: inner !default !global;
  $foo: lexical;
  inner { foo: $foo; }
}

$foo: outer !default !global;
outer { foo: $foo; }

div {
  $foo: footer !default !global;
  $foo: lexical;
  inner { foo: $foo; }
}
