foo {
  c-1: rgb(0,0,-1);
  c0: rgb(0,0,0);
  c1: rgb(0,0,1);
  c2: rgb(0,0,2);
  c3: rgb(0,0,3);
  c4: rgb(0,0,4);
  c5: rgb(0,0,5);
  c6: rgb(0,0,6);
  c7: rgb(0,0,7);
  c8: rgb(0,0,8);
  c9: rgb(0,0,9);
  c10: rgb(0,0,10);
  c11: rgb(0,0,11);
  c12: rgb(0,0,12);
  c13: rgb(0,0,13);
  c14: rgb(0,0,14);
  c15: rgb(0,0,15);
  c16: rgb(0,0,16);
  c17: rgb(0,0,17);
  c18: rgb(0,0,18);
  c19: rgb(0,0,19);
  c20: rgb(0,0,20);
  c21: rgb(0,0,21);
  c22: rgb(0,0,22);
  c23: rgb(0,0,23);
  c24: rgb(0,0,24);
  c25: rgb(0,0,25);
  c26: rgb(0,0,26);
  c27: rgb(0,0,27);
  c28: rgb(0,0,28);
  c29: rgb(0,0,29);
  c30: rgb(0,0,30);
  c31: rgb(0,0,31);
  c32: rgb(0,0,32);
  c33: rgb(0,0,33);
  c34: rgb(0,0,34);
  c35: rgb(0,0,35);
  c36: rgb(0,0,36);
  c37: rgb(0,0,37);
  c38: rgb(0,0,38);
  c39: rgb(0,0,39);
  c40: rgb(0,0,40);
  c41: rgb(0,0,41);
  c42: rgb(0,0,42);
  c43: rgb(0,0,43);
  c44: rgb(0,0,44);
  c45: rgb(0,0,45);
  c46: rgb(0,0,46);
  c47: rgb(0,0,47);
  c48: rgb(0,0,48);
  c49: rgb(0,0,49);
  c50: rgb(0,0,50);
  c51: rgb(0,0,51);
  c52: rgb(0,0,52);
  c53: rgb(0,0,53);
  c54: rgb(0,0,54);
  c55: rgb(0,0,55);
  c56: rgb(0,0,56);
  c57: rgb(0,0,57);
  c58: rgb(0,0,58);
  c59: rgb(0,0,59);
  c60: rgb(0,0,60);
  c61: rgb(0,0,61);
  c62: rgb(0,0,62);
  c63: rgb(0,0,63);
  c64: rgb(0,0,64);
  c65: rgb(0,0,65);
  c66: rgb(0,0,66);
  c67: rgb(0,0,67);
  c68: rgb(0,0,68);
  c69: rgb(0,0,69);
  c70: rgb(0,0,70);
  c71: rgb(0,0,71);
  c72: rgb(0,0,72);
  c73: rgb(0,0,73);
  c74: rgb(0,0,74);
  c75: rgb(0,0,75);
  c76: rgb(0,0,76);
  c77: rgb(0,0,77);
  c78: rgb(0,0,78);
  c79: rgb(0,0,79);
  c80: rgb(0,0,80);
  c81: rgb(0,0,81);
  c82: rgb(0,0,82);
  c83: rgb(0,0,83);
  c84: rgb(0,0,84);
  c85: rgb(0,0,85);
  c86: rgb(0,0,86);
  c87: rgb(0,0,87);
  c88: rgb(0,0,88);
  c89: rgb(0,0,89);
  c90: rgb(0,0,90);
  c91: rgb(0,0,91);
  c92: rgb(0,0,92);
  c93: rgb(0,0,93);
  c94: rgb(0,0,94);
  c95: rgb(0,0,95);
  c96: rgb(0,0,96);
  c97: rgb(0,0,97);
  c98: rgb(0,0,98);
  c99: rgb(0,0,99);
  c100: rgb(0,0,100);
  c101: rgb(0,0,101);
  c102: rgb(0,0,102);
  c103: rgb(0,0,103);
  c104: rgb(0,0,104);
  c105: rgb(0,0,105);
  c106: rgb(0,0,106);
  c107: rgb(0,0,107);
  c108: rgb(0,0,108);
  c109: rgb(0,0,109);
  c110: rgb(0,0,110);
  c111: rgb(0,0,111);
  c112: rgb(0,0,112);
  c113: rgb(0,0,113);
  c114: rgb(0,0,114);
  c115: rgb(0,0,115);
  c116: rgb(0,0,116);
  c117: rgb(0,0,117);
  c118: rgb(0,0,118);
  c119: rgb(0,0,119);
  c120: rgb(0,0,120);
  c121: rgb(0,0,121);
  c122: rgb(0,0,122);
  c123: rgb(0,0,123);
  c124: rgb(0,0,124);
  c125: rgb(0,0,125);
  c126: rgb(0,0,126);
  c127: rgb(0,0,127);
  c128: rgb(0,0,128);
  c129: rgb(0,0,129);
  c130: rgb(0,0,130);
  c131: rgb(0,0,131);
  c132: rgb(0,0,132);
  c133: rgb(0,0,133);
  c134: rgb(0,0,134);
  c135: rgb(0,0,135);
  c136: rgb(0,0,136);
  c137: rgb(0,0,137);
  c138: rgb(0,0,138);
  c139: rgb(0,0,139);
  c140: rgb(0,0,140);
  c141: rgb(0,0,141);
  c142: rgb(0,0,142);
  c143: rgb(0,0,143);
  c144: rgb(0,0,144);
  c145: rgb(0,0,145);
  c146: rgb(0,0,146);
  c147: rgb(0,0,147);
  c148: rgb(0,0,148);
  c149: rgb(0,0,149);
  c150: rgb(0,0,150);
  c151: rgb(0,0,151);
  c152: rgb(0,0,152);
  c153: rgb(0,0,153);
  c154: rgb(0,0,154);
  c155: rgb(0,0,155);
  c156: rgb(0,0,156);
  c157: rgb(0,0,157);
  c158: rgb(0,0,158);
  c159: rgb(0,0,159);
  c160: rgb(0,0,160);
  c161: rgb(0,0,161);
  c162: rgb(0,0,162);
  c163: rgb(0,0,163);
  c164: rgb(0,0,164);
  c165: rgb(0,0,165);
  c166: rgb(0,0,166);
  c167: rgb(0,0,167);
  c168: rgb(0,0,168);
  c169: rgb(0,0,169);
  c170: rgb(0,0,170);
  c171: rgb(0,0,171);
  c172: rgb(0,0,172);
  c173: rgb(0,0,173);
  c174: rgb(0,0,174);
  c175: rgb(0,0,175);
  c176: rgb(0,0,176);
  c177: rgb(0,0,177);
  c178: rgb(0,0,178);
  c179: rgb(0,0,179);
  c180: rgb(0,0,180);
  c181: rgb(0,0,181);
  c182: rgb(0,0,182);
  c183: rgb(0,0,183);
  c184: rgb(0,0,184);
  c185: rgb(0,0,185);
  c186: rgb(0,0,186);
  c187: rgb(0,0,187);
  c188: rgb(0,0,188);
  c189: rgb(0,0,189);
  c190: rgb(0,0,190);
  c191: rgb(0,0,191);
  c192: rgb(0,0,192);
  c193: rgb(0,0,193);
  c194: rgb(0,0,194);
  c195: rgb(0,0,195);
  c196: rgb(0,0,196);
  c197: rgb(0,0,197);
  c198: rgb(0,0,198);
  c199: rgb(0,0,199);
  c200: rgb(0,0,200);
  c201: rgb(0,0,201);
  c202: rgb(0,0,202);
  c203: rgb(0,0,203);
  c204: rgb(0,0,204);
  c205: rgb(0,0,205);
  c206: rgb(0,0,206);
  c207: rgb(0,0,207);
  c208: rgb(0,0,208);
  c209: rgb(0,0,209);
  c210: rgb(0,0,210);
  c211: rgb(0,0,211);
  c212: rgb(0,0,212);
  c213: rgb(0,0,213);
  c214: rgb(0,0,214);
  c215: rgb(0,0,215);
  c216: rgb(0,0,216);
  c217: rgb(0,0,217);
  c218: rgb(0,0,218);
  c219: rgb(0,0,219);
  c220: rgb(0,0,220);
  c221: rgb(0,0,221);
  c222: rgb(0,0,222);
  c223: rgb(0,0,223);
  c224: rgb(0,0,224);
  c225: rgb(0,0,225);
  c226: rgb(0,0,226);
  c227: rgb(0,0,227);
  c228: rgb(0,0,228);
  c229: rgb(0,0,229);
  c230: rgb(0,0,230);
  c231: rgb(0,0,231);
  c232: rgb(0,0,232);
  c233: rgb(0,0,233);
  c234: rgb(0,0,234);
  c235: rgb(0,0,235);
  c236: rgb(0,0,236);
  c237: rgb(0,0,237);
  c238: rgb(0,0,238);
  c239: rgb(0,0,239);
  c240: rgb(0,0,240);
  c241: rgb(0,0,241);
  c242: rgb(0,0,242);
  c243: rgb(0,0,243);
  c244: rgb(0,0,244);
  c245: rgb(0,0,245);
  c246: rgb(0,0,246);
  c247: rgb(0,0,247);
  c248: rgb(0,0,248);
  c249: rgb(0,0,249);
  c250: rgb(0,0,250);
  c251: rgb(0,0,251);
  c252: rgb(0,0,252);
  c253: rgb(0,0,253);
  c254: rgb(0,0,254);
  c255: rgb(0,0,255);
  c256: rgb(0,0,256);
}

foo {
  c-1: rgb(0,0,-1%);
  c0: rgb(0,0,0%);
  c1: rgb(0,0,1%);
  c2: rgb(0,0,2%);
  c3: rgb(0,0,3%);
  c4: rgb(0,0,4%);
  c5: rgb(0,0,5%);
  c6: rgb(0,0,6%);
  c7: rgb(0,0,7%);
  c8: rgb(0,0,8%);
  c9: rgb(0,0,9%);
  c10: rgb(0,0,10%);
  c11: rgb(0,0,11%);
  c12: rgb(0,0,12%);
  c13: rgb(0,0,13%);
  c14: rgb(0,0,14%);
  c15: rgb(0,0,15%);
  c16: rgb(0,0,16%);
  c17: rgb(0,0,17%);
  c18: rgb(0,0,18%);
  c19: rgb(0,0,19%);
  c20: rgb(0,0,20%);
  c21: rgb(0,0,21%);
  c22: rgb(0,0,22%);
  c23: rgb(0,0,23%);
  c24: rgb(0,0,24%);
  c25: rgb(0,0,25%);
  c26: rgb(0,0,26%);
  c27: rgb(0,0,27%);
  c28: rgb(0,0,28%);
  c29: rgb(0,0,29%);
  c30: rgb(0,0,30%);
  c31: rgb(0,0,31%);
  c32: rgb(0,0,32%);
  c33: rgb(0,0,33%);
  c34: rgb(0,0,34%);
  c35: rgb(0,0,35%);
  c36: rgb(0,0,36%);
  c37: rgb(0,0,37%);
  c38: rgb(0,0,38%);
  c39: rgb(0,0,39%);
  c40: rgb(0,0,40%);
  c41: rgb(0,0,41%);
  c42: rgb(0,0,42%);
  c43: rgb(0,0,43%);
  c44: rgb(0,0,44%);
  c45: rgb(0,0,45%);
  c46: rgb(0,0,46%);
  c47: rgb(0,0,47%);
  c48: rgb(0,0,48%);
  c49: rgb(0,0,49%);
  c50: rgb(0,0,50%);
  c51: rgb(0,0,51%);
  c52: rgb(0,0,52%);
  c53: rgb(0,0,53%);
  c54: rgb(0,0,54%);
  c55: rgb(0,0,55%);
  c56: rgb(0,0,56%);
  c57: rgb(0,0,57%);
  c58: rgb(0,0,58%);
  c59: rgb(0,0,59%);
  c60: rgb(0,0,60%);
  c61: rgb(0,0,61%);
  c62: rgb(0,0,62%);
  c63: rgb(0,0,63%);
  c64: rgb(0,0,64%);
  c65: rgb(0,0,65%);
  c66: rgb(0,0,66%);
  c67: rgb(0,0,67%);
  c68: rgb(0,0,68%);
  c69: rgb(0,0,69%);
  c70: rgb(0,0,70%);
  c71: rgb(0,0,71%);
  c72: rgb(0,0,72%);
  c73: rgb(0,0,73%);
  c74: rgb(0,0,74%);
  c75: rgb(0,0,75%);
  c76: rgb(0,0,76%);
  c77: rgb(0,0,77%);
  c78: rgb(0,0,78%);
  c79: rgb(0,0,79%);
  c80: rgb(0,0,80%);
  c81: rgb(0,0,81%);
  c82: rgb(0,0,82%);
  c83: rgb(0,0,83%);
  c84: rgb(0,0,84%);
  c85: rgb(0,0,85%);
  c86: rgb(0,0,86%);
  c87: rgb(0,0,87%);
  c88: rgb(0,0,88%);
  c89: rgb(0,0,89%);
  c90: rgb(0,0,90%);
  c91: rgb(0,0,91%);
  c92: rgb(0,0,92%);
  c93: rgb(0,0,93%);
  c94: rgb(0,0,94%);
  c95: rgb(0,0,95%);
  c96: rgb(0,0,96%);
  c97: rgb(0,0,97%);
  c98: rgb(0,0,98%);
  c99: rgb(0,0,99%);
  c100: rgb(0,0,100%);
  c101: rgb(0,0,101%);
}
