basic {
  transparent: rgba(51, 204, 204, 0);
  opaque: #33cccc;
  partial: rgba(51, 204, 204, 0.5);
  named: rgba(51, 204, 204, 0.4);
}

clamped {
  saturation: rgba(128, 128, 128, 0.5);
  blue: rgba(255, 255, 255, 0.5);
  alpha-above: red;
  alpha-below: rgba(0, 255, 128, 0);
}
