foo {
  foo: "\\";
  baz: "\\\\";
  var_foo: "\\";
  var_bar: "\\\\";
  foo_itp: \;
  bar_itp: \\;
  foo_var_itp: \;
  bar_var_itp: \\;
  unquote_foo: \;
  unquote_baz: \\;
  unquote_var_foo: \;
  unquote_var_baz: \\;
  unquote_var_foo_itp: \;
  unquote_var_baz_itp: \\;
  unquote_var_foo_itp_dq: \;
  unquote_var_baz_itp_dq: \\;
  unquote_var_foo_itp_sq: \;
  unquote_var_baz_itp_sq: \\; }
