no-parens empty-using {
  x: y;
}
no-parens defaults {
  arg1: value1;
  arg2: value2;
}

parens no-using {
  x: y;
}
parens empty-using {
  x: y;
}
parens defaults {
  arg1: value1;
  arg2: value2;
}
