div {
  baz: 1/2/3;
  baz: 1/2/ 3;
  baz: 1/2 /3;
  baz: 1/2 / 3;
}

add {
  baz: 3+3;
  baz: 3+ 3;
  baz: 3 +3;
  baz: 3 + 3;
}

sub {
  baz: -1-3;
  baz: -1- 3;
  baz: 1 -2 -3;
  baz: -1 - 3;
}

mul {
  baz: 2*3;
  baz: 2* 3;
  baz: 2 *3;
  baz: 2 * 3;
}

mod {
  baz: 1% 2%3;
  baz: 1% 2% 3;
  baz: 1 %3;
  baz: 1 % 3;
}
