foo {
  unquote_foo_itp: 'foo';
  unquote_baz_itp: "bar";
  unquote_foo_itp: 'foo';
  unquote_baz_itp: "bar";
  unquote_foo_itp: foo('foo');
  unquote_baz_itp: foo("bar");
  unquote_foo_itp: foo;
  unquote_foo_itp: bar;
  unquote_foo_itp: 'foo';
  unquote_baz_itp: "bar"; }
