div {
  baz: 1/2/1/2;
  baz: 1/2/ 1/2;
  baz: 1/2 /1/2;
  baz: 1/2 / 1/2;
}

add {
  baz: 3+3;
  baz: 3+ 3;
  baz: 3 +3;
  baz: 3 + 3;
}

sub {
  baz: -1--1;
  baz: -1- -1;
  baz: 1 -2 -1 -2;
  baz: -1 - -1;
}

mul {
  baz: 2*2;
  baz: 2* 2;
  baz: 2 *2;
  baz: 2 * 2;
}

mod {
  baz: 1% 2%1% 2;
  baz: 1% 2% 1% 2;
  baz: 1 %1;
  baz: 1 % 1;
}
