basic {
  red: red;
  blue: blue;
  grayish-yellow: #cccc33;
}


clamped {
  saturation-above: red;
  saturation-below: gray;
  lightness-above: white;
  lightness-below: black;
}

units {
  hue-deg: red;
  saturation-unitless: #bf4040;
  lightness-unitless: red;
}

named {
  x: red;
}
