.social-icon--facebook {
  color: blue;
}
.social-icon--instagram {
  color: blue;
}
.social-icon--twitter {
  color: blue;
}
.social-icon--email {
  color: blue;
}

.social-icon--facebook {
  color: red;
}

.social-icon--instagram {
  color: red;
}

.social-icon--twitter {
  color: red;
}

.social-icon--email {
  color: red;
}
