Error: Invalid CSS after "$foo: foo(#{": expected expression (e.g. 1px, bold), was "});"
        on line 5 of spec/libsass-todo-issues/issue_1093/parameter/function/input.scss
  Use --trace for backtrace.
