@media (height < 600px) {
  a {
    b: c;
  }
}

@media (height <= 600px) {
  a {
    b: c;
  }
}

@media (height = 600px) {
  a {
    b: c;
  }
}

@media (height >= 600px) {
  a {
    b: c;
  }
}

@media (height > 600px) {
  a {
    b: c;
  }
}

@media (10px < width < 15px) {
  a {
    b: c;
  }
}

@media (10px < width <= 15px) {
  a {
    b: c;
  }
}

@media (10px <= width < 15px) {
  a {
    b: c;
  }
}

@media (10px <= width <= 15px) {
  a {
    b: c;
  }
}

@media (10px > width > 15px) {
  a {
    b: c;
  }
}

@media (10px > width >= 15px) {
  a {
    b: c;
  }
}

@media (10px >= width > 15px) {
  a {
    b: c;
  }
}

@media (10px >= width >= 15px) {
  a {
    b: c;
  }
}

@media (device-aspect-ratio > 3/2) {
  a {
    b: c;
  }
}

@media (3/2 < device-aspect-ratio < 16/9) {
  a {
    b: c;
  }
}

