@interpolated-beginning;

@interoplated-middle;

@interoplated-end;

@entirely-interpolated;

@plain value;
@interpolated value;
@block {
  x: y;
}
@block-with plain-value {
  x: y;
}
@block-with interpolated-value {
  x: y;
}

@error not really an error;

@media ($var: value) {
  .x {
    y: z;
  }
}

@keyframes name {
  10% {
    x: y;
  }
}
