foo {
  c-100: rgba(255, 0, 0, 0);
  c-99: rgba(255, 0, 0, 0.01);
  c-98: rgba(255, 0, 0, 0.02);
  c-97: rgba(255, 0, 0, 0.03);
  c-96: rgba(255, 0, 0, 0.04);
  c-95: rgba(255, 0, 0, 0.05);
  c-94: rgba(255, 0, 0, 0.06);
  c-93: rgba(255, 0, 0, 0.07);
  c-92: rgba(255, 0, 0, 0.08);
  c-91: rgba(255, 0, 0, 0.09);
  c-90: rgba(255, 0, 0, 0.1);
  c-89: rgba(255, 0, 0, 0.11);
  c-88: rgba(255, 0, 0, 0.12);
  c-87: rgba(255, 0, 0, 0.13);
  c-86: rgba(255, 0, 0, 0.14);
  c-85: rgba(255, 0, 0, 0.15);
  c-84: rgba(255, 0, 0, 0.16);
  c-83: rgba(255, 0, 0, 0.17);
  c-82: rgba(255, 0, 0, 0.18);
  c-81: rgba(255, 0, 0, 0.19);
  c-80: rgba(255, 0, 0, 0.2);
  c-79: rgba(255, 0, 0, 0.21);
  c-78: rgba(255, 0, 0, 0.22);
  c-77: rgba(255, 0, 0, 0.23);
  c-76: rgba(255, 0, 0, 0.24);
  c-75: rgba(255, 0, 0, 0.25);
  c-74: rgba(255, 0, 0, 0.26);
  c-73: rgba(255, 0, 0, 0.27);
  c-72: rgba(255, 0, 0, 0.28);
  c-71: rgba(255, 0, 0, 0.29);
  c-70: rgba(255, 0, 0, 0.3);
  c-69: rgba(255, 0, 0, 0.31);
  c-68: rgba(255, 0, 0, 0.32);
  c-67: rgba(255, 0, 0, 0.33);
  c-66: rgba(255, 0, 0, 0.34);
  c-65: rgba(255, 0, 0, 0.35);
  c-64: rgba(255, 0, 0, 0.36);
  c-63: rgba(255, 0, 0, 0.37);
  c-62: rgba(255, 0, 0, 0.38);
  c-61: rgba(255, 0, 0, 0.39);
  c-60: rgba(255, 0, 0, 0.4);
  c-59: rgba(255, 0, 0, 0.41);
  c-58: rgba(255, 0, 0, 0.42);
  c-57: rgba(255, 0, 0, 0.43);
  c-56: rgba(255, 0, 0, 0.44);
  c-55: rgba(255, 0, 0, 0.45);
  c-54: rgba(255, 0, 0, 0.46);
  c-53: rgba(255, 0, 0, 0.47);
  c-52: rgba(255, 0, 0, 0.48);
  c-51: rgba(255, 0, 0, 0.49);
  c-50: rgba(255, 0, 0, 0.5);
  c-49: rgba(255, 0, 0, 0.51);
  c-48: rgba(255, 0, 0, 0.52);
  c-47: rgba(255, 0, 0, 0.53);
  c-46: rgba(255, 0, 0, 0.54);
  c-45: rgba(255, 0, 0, 0.55);
  c-44: rgba(255, 0, 0, 0.56);
  c-43: rgba(255, 0, 0, 0.57);
  c-42: rgba(255, 0, 0, 0.58);
  c-41: rgba(255, 0, 0, 0.59);
  c-40: rgba(255, 0, 0, 0.6);
  c-39: rgba(255, 0, 0, 0.61);
  c-38: rgba(255, 0, 0, 0.62);
  c-37: rgba(255, 0, 0, 0.63);
  c-36: rgba(255, 0, 0, 0.64);
  c-35: rgba(255, 0, 0, 0.65);
  c-34: rgba(255, 0, 0, 0.66);
  c-33: rgba(255, 0, 0, 0.67);
  c-32: rgba(255, 0, 0, 0.68);
  c-31: rgba(255, 0, 0, 0.69);
  c-30: rgba(255, 0, 0, 0.7);
  c-29: rgba(255, 0, 0, 0.71);
  c-28: rgba(255, 0, 0, 0.72);
  c-27: rgba(255, 0, 0, 0.73);
  c-26: rgba(255, 0, 0, 0.74);
  c-25: rgba(255, 0, 0, 0.75);
  c-24: rgba(255, 0, 0, 0.76);
  c-23: rgba(255, 0, 0, 0.77);
  c-22: rgba(255, 0, 0, 0.78);
  c-21: rgba(255, 0, 0, 0.79);
  c-20: rgba(255, 0, 0, 0.8);
  c-19: rgba(255, 0, 0, 0.81);
  c-18: rgba(255, 0, 0, 0.82);
  c-17: rgba(255, 0, 0, 0.83);
  c-16: rgba(255, 0, 0, 0.84);
  c-15: rgba(255, 0, 0, 0.85);
  c-14: rgba(255, 0, 0, 0.86);
  c-13: rgba(255, 0, 0, 0.87);
  c-12: rgba(255, 0, 0, 0.88);
  c-11: rgba(255, 0, 0, 0.89);
  c-10: rgba(255, 0, 0, 0.9);
  c-9: rgba(255, 0, 0, 0.91);
  c-8: rgba(255, 0, 0, 0.92);
  c-7: rgba(255, 0, 0, 0.93);
  c-6: rgba(255, 0, 0, 0.94);
  c-5: rgba(255, 0, 0, 0.95);
  c-4: rgba(255, 0, 0, 0.96);
  c-3: rgba(255, 0, 0, 0.97);
  c-2: rgba(255, 0, 0, 0.98);
  c-1: rgba(255, 0, 0, 0.99);
  c0: red;
  c1: red;
  c2: red;
  c3: red;
  c4: red;
  c5: red;
  c6: red;
  c7: red;
  c8: red;
  c9: red;
  c10: red;
  c11: red;
  c12: red;
  c13: red;
  c14: red;
  c15: red;
  c16: red;
  c17: red;
  c18: red;
  c19: red;
  c20: red;
  c21: red;
  c22: red;
  c23: red;
  c24: red;
  c25: red;
  c26: red;
  c27: red;
  c28: red;
  c29: red;
  c30: red;
  c31: red;
  c32: red;
  c33: red;
  c34: red;
  c35: red;
  c36: red;
  c37: red;
  c38: red;
  c39: red;
  c40: red;
  c41: red;
  c42: red;
  c43: red;
  c44: red;
  c45: red;
  c46: red;
  c47: red;
  c48: red;
  c49: red;
  c50: red;
  c51: red;
  c52: red;
  c53: red;
  c54: red;
  c55: red;
  c56: red;
  c57: red;
  c58: red;
  c59: red;
  c60: red;
  c61: red;
  c62: red;
  c63: red;
  c64: red;
  c65: red;
  c66: red;
  c67: red;
  c68: red;
  c69: red;
  c70: red;
  c71: red;
  c72: red;
  c73: red;
  c74: red;
  c75: red;
  c76: red;
  c77: red;
  c78: red;
  c79: red;
  c80: red;
  c81: red;
  c82: red;
  c83: red;
  c84: red;
  c85: red;
  c86: red;
  c87: red;
  c88: red;
  c89: red;
  c90: red;
  c91: red;
  c92: red;
  c93: red;
  c94: red;
  c95: red;
  c96: red;
  c97: red;
  c98: red;
  c99: red;
  c100: red;
}
