nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-left: -2px;
  margin-right: 2em;
}

/* Mixins */
div {
  width: 5;
  color: red;
  display: block;
}

/* Font faces */
@font-face {
  font-family: "SPEdessa";
  src: url("fonts/spedessa-webfont.eot");
  src: url("fonts/spedessa-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/spedessa-webfont.woff") format("woff"), url("fonts/spedessa-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* List */
.icon-1, value {
  font-size: 1, "value";
}

.icon-5, value {
  font-size: 5, "value";
}

.icon-23, value {
  font-size: 23, "value";
}

.icon-85, value {
  font-size: 85, "value";
}

.icon-32, value {
  font-size: 32, "value";
}

.icon-11, value {
  font-size: 11, "value";
}

.icon-35, value {
  font-size: 35, "value";
}

.icon-89, value {
  font-size: 89, "value";
}

/* Maps */
div-columns {
  color: red;
  test: 12;
}

div-gutters {
  color: red;
  test: 0.3333333333;
}

div-gutter-position {
  color: red;
  test: after;
}

div-math {
  color: red;
  test: fluid;
}

div-output {
  color: red;
  test: float;
}

div-flow {
  color: red;
  test: ltr;
}

div-global-box-sizing {
  color: red;
  test: border-box;
}
