foo {
  foo: "'foo'";
  baz: "\"bar\"";
  eval_foo: "'foo'";
  eval_baz: '"bar"';
  var_foo: "'foo'";
  var_bar: '"bar"';
  foo_itp: 'foo';
  bar_itp: "bar";
  foo_var_itp: 'foo';
  bar_var_itp: "bar"; }
