foo {
  c-361: hue(hsl(-361%, 100%, 50%));
  c-360: hue(hsl(-360%, 100%, 50%));
  c-359: hue(hsl(-359%, 100%, 50%));
  c-358: hue(hsl(-358%, 100%, 50%));
  c-357: hue(hsl(-357%, 100%, 50%));
  c-356: hue(hsl(-356%, 100%, 50%));
  c-355: hue(hsl(-355%, 100%, 50%));
  c-354: hue(hsl(-354%, 100%, 50%));
  c-353: hue(hsl(-353%, 100%, 50%));
  c-352: hue(hsl(-352%, 100%, 50%));
  c-351: hue(hsl(-351%, 100%, 50%));
  c-350: hue(hsl(-350%, 100%, 50%));
  c-349: hue(hsl(-349%, 100%, 50%));
  c-348: hue(hsl(-348%, 100%, 50%));
  c-347: hue(hsl(-347%, 100%, 50%));
  c-346: hue(hsl(-346%, 100%, 50%));
  c-345: hue(hsl(-345%, 100%, 50%));
  c-344: hue(hsl(-344%, 100%, 50%));
  c-343: hue(hsl(-343%, 100%, 50%));
  c-342: hue(hsl(-342%, 100%, 50%));
  c-341: hue(hsl(-341%, 100%, 50%));
  c-340: hue(hsl(-340%, 100%, 50%));
  c-339: hue(hsl(-339%, 100%, 50%));
  c-338: hue(hsl(-338%, 100%, 50%));
  c-337: hue(hsl(-337%, 100%, 50%));
  c-336: hue(hsl(-336%, 100%, 50%));
  c-335: hue(hsl(-335%, 100%, 50%));
  c-334: hue(hsl(-334%, 100%, 50%));
  c-333: hue(hsl(-333%, 100%, 50%));
  c-332: hue(hsl(-332%, 100%, 50%));
  c-331: hue(hsl(-331%, 100%, 50%));
  c-330: hue(hsl(-330%, 100%, 50%));
  c-329: hue(hsl(-329%, 100%, 50%));
  c-328: hue(hsl(-328%, 100%, 50%));
  c-327: hue(hsl(-327%, 100%, 50%));
  c-326: hue(hsl(-326%, 100%, 50%));
  c-325: hue(hsl(-325%, 100%, 50%));
  c-324: hue(hsl(-324%, 100%, 50%));
  c-323: hue(hsl(-323%, 100%, 50%));
  c-322: hue(hsl(-322%, 100%, 50%));
  c-321: hue(hsl(-321%, 100%, 50%));
  c-320: hue(hsl(-320%, 100%, 50%));
  c-319: hue(hsl(-319%, 100%, 50%));
  c-318: hue(hsl(-318%, 100%, 50%));
  c-317: hue(hsl(-317%, 100%, 50%));
  c-316: hue(hsl(-316%, 100%, 50%));
  c-315: hue(hsl(-315%, 100%, 50%));
  c-314: hue(hsl(-314%, 100%, 50%));
  c-313: hue(hsl(-313%, 100%, 50%));
  c-312: hue(hsl(-312%, 100%, 50%));
  c-311: hue(hsl(-311%, 100%, 50%));
  c-310: hue(hsl(-310%, 100%, 50%));
  c-309: hue(hsl(-309%, 100%, 50%));
  c-308: hue(hsl(-308%, 100%, 50%));
  c-307: hue(hsl(-307%, 100%, 50%));
  c-306: hue(hsl(-306%, 100%, 50%));
  c-305: hue(hsl(-305%, 100%, 50%));
  c-304: hue(hsl(-304%, 100%, 50%));
  c-303: hue(hsl(-303%, 100%, 50%));
  c-302: hue(hsl(-302%, 100%, 50%));
  c-301: hue(hsl(-301%, 100%, 50%));
  c-300: hue(hsl(-300%, 100%, 50%));
  c-299: hue(hsl(-299%, 100%, 50%));
  c-298: hue(hsl(-298%, 100%, 50%));
  c-297: hue(hsl(-297%, 100%, 50%));
  c-296: hue(hsl(-296%, 100%, 50%));
  c-295: hue(hsl(-295%, 100%, 50%));
  c-294: hue(hsl(-294%, 100%, 50%));
  c-293: hue(hsl(-293%, 100%, 50%));
  c-292: hue(hsl(-292%, 100%, 50%));
  c-291: hue(hsl(-291%, 100%, 50%));
  c-290: hue(hsl(-290%, 100%, 50%));
  c-289: hue(hsl(-289%, 100%, 50%));
  c-288: hue(hsl(-288%, 100%, 50%));
  c-287: hue(hsl(-287%, 100%, 50%));
  c-286: hue(hsl(-286%, 100%, 50%));
  c-285: hue(hsl(-285%, 100%, 50%));
  c-284: hue(hsl(-284%, 100%, 50%));
  c-283: hue(hsl(-283%, 100%, 50%));
  c-282: hue(hsl(-282%, 100%, 50%));
  c-281: hue(hsl(-281%, 100%, 50%));
  c-280: hue(hsl(-280%, 100%, 50%));
  c-279: hue(hsl(-279%, 100%, 50%));
  c-278: hue(hsl(-278%, 100%, 50%));
  c-277: hue(hsl(-277%, 100%, 50%));
  c-276: hue(hsl(-276%, 100%, 50%));
  c-275: hue(hsl(-275%, 100%, 50%));
  c-274: hue(hsl(-274%, 100%, 50%));
  c-273: hue(hsl(-273%, 100%, 50%));
  c-272: hue(hsl(-272%, 100%, 50%));
  c-271: hue(hsl(-271%, 100%, 50%));
  c-270: hue(hsl(-270%, 100%, 50%));
  c-269: hue(hsl(-269%, 100%, 50%));
  c-268: hue(hsl(-268%, 100%, 50%));
  c-267: hue(hsl(-267%, 100%, 50%));
  c-266: hue(hsl(-266%, 100%, 50%));
  c-265: hue(hsl(-265%, 100%, 50%));
  c-264: hue(hsl(-264%, 100%, 50%));
  c-263: hue(hsl(-263%, 100%, 50%));
  c-262: hue(hsl(-262%, 100%, 50%));
  c-261: hue(hsl(-261%, 100%, 50%));
  c-260: hue(hsl(-260%, 100%, 50%));
  c-259: hue(hsl(-259%, 100%, 50%));
  c-258: hue(hsl(-258%, 100%, 50%));
  c-257: hue(hsl(-257%, 100%, 50%));
  c-256: hue(hsl(-256%, 100%, 50%));
  c-255: hue(hsl(-255%, 100%, 50%));
  c-254: hue(hsl(-254%, 100%, 50%));
  c-253: hue(hsl(-253%, 100%, 50%));
  c-252: hue(hsl(-252%, 100%, 50%));
  c-251: hue(hsl(-251%, 100%, 50%));
  c-250: hue(hsl(-250%, 100%, 50%));
  c-249: hue(hsl(-249%, 100%, 50%));
  c-248: hue(hsl(-248%, 100%, 50%));
  c-247: hue(hsl(-247%, 100%, 50%));
  c-246: hue(hsl(-246%, 100%, 50%));
  c-245: hue(hsl(-245%, 100%, 50%));
  c-244: hue(hsl(-244%, 100%, 50%));
  c-243: hue(hsl(-243%, 100%, 50%));
  c-242: hue(hsl(-242%, 100%, 50%));
  c-241: hue(hsl(-241%, 100%, 50%));
  c-240: hue(hsl(-240%, 100%, 50%));
  c-239: hue(hsl(-239%, 100%, 50%));
  c-238: hue(hsl(-238%, 100%, 50%));
  c-237: hue(hsl(-237%, 100%, 50%));
  c-236: hue(hsl(-236%, 100%, 50%));
  c-235: hue(hsl(-235%, 100%, 50%));
  c-234: hue(hsl(-234%, 100%, 50%));
  c-233: hue(hsl(-233%, 100%, 50%));
  c-232: hue(hsl(-232%, 100%, 50%));
  c-231: hue(hsl(-231%, 100%, 50%));
  c-230: hue(hsl(-230%, 100%, 50%));
  c-229: hue(hsl(-229%, 100%, 50%));
  c-228: hue(hsl(-228%, 100%, 50%));
  c-227: hue(hsl(-227%, 100%, 50%));
  c-226: hue(hsl(-226%, 100%, 50%));
  c-225: hue(hsl(-225%, 100%, 50%));
  c-224: hue(hsl(-224%, 100%, 50%));
  c-223: hue(hsl(-223%, 100%, 50%));
  c-222: hue(hsl(-222%, 100%, 50%));
  c-221: hue(hsl(-221%, 100%, 50%));
  c-220: hue(hsl(-220%, 100%, 50%));
  c-219: hue(hsl(-219%, 100%, 50%));
  c-218: hue(hsl(-218%, 100%, 50%));
  c-217: hue(hsl(-217%, 100%, 50%));
  c-216: hue(hsl(-216%, 100%, 50%));
  c-215: hue(hsl(-215%, 100%, 50%));
  c-214: hue(hsl(-214%, 100%, 50%));
  c-213: hue(hsl(-213%, 100%, 50%));
  c-212: hue(hsl(-212%, 100%, 50%));
  c-211: hue(hsl(-211%, 100%, 50%));
  c-210: hue(hsl(-210%, 100%, 50%));
  c-209: hue(hsl(-209%, 100%, 50%));
  c-208: hue(hsl(-208%, 100%, 50%));
  c-207: hue(hsl(-207%, 100%, 50%));
  c-206: hue(hsl(-206%, 100%, 50%));
  c-205: hue(hsl(-205%, 100%, 50%));
  c-204: hue(hsl(-204%, 100%, 50%));
  c-203: hue(hsl(-203%, 100%, 50%));
  c-202: hue(hsl(-202%, 100%, 50%));
  c-201: hue(hsl(-201%, 100%, 50%));
  c-200: hue(hsl(-200%, 100%, 50%));
  c-199: hue(hsl(-199%, 100%, 50%));
  c-198: hue(hsl(-198%, 100%, 50%));
  c-197: hue(hsl(-197%, 100%, 50%));
  c-196: hue(hsl(-196%, 100%, 50%));
  c-195: hue(hsl(-195%, 100%, 50%));
  c-194: hue(hsl(-194%, 100%, 50%));
  c-193: hue(hsl(-193%, 100%, 50%));
  c-192: hue(hsl(-192%, 100%, 50%));
  c-191: hue(hsl(-191%, 100%, 50%));
  c-190: hue(hsl(-190%, 100%, 50%));
  c-189: hue(hsl(-189%, 100%, 50%));
  c-188: hue(hsl(-188%, 100%, 50%));
  c-187: hue(hsl(-187%, 100%, 50%));
  c-186: hue(hsl(-186%, 100%, 50%));
  c-185: hue(hsl(-185%, 100%, 50%));
  c-184: hue(hsl(-184%, 100%, 50%));
  c-183: hue(hsl(-183%, 100%, 50%));
  c-182: hue(hsl(-182%, 100%, 50%));
  c-181: hue(hsl(-181%, 100%, 50%));
  c-180: hue(hsl(-180%, 100%, 50%));
  c-179: hue(hsl(-179%, 100%, 50%));
  c-178: hue(hsl(-178%, 100%, 50%));
  c-177: hue(hsl(-177%, 100%, 50%));
  c-176: hue(hsl(-176%, 100%, 50%));
  c-175: hue(hsl(-175%, 100%, 50%));
  c-174: hue(hsl(-174%, 100%, 50%));
  c-173: hue(hsl(-173%, 100%, 50%));
  c-172: hue(hsl(-172%, 100%, 50%));
  c-171: hue(hsl(-171%, 100%, 50%));
  c-170: hue(hsl(-170%, 100%, 50%));
  c-169: hue(hsl(-169%, 100%, 50%));
  c-168: hue(hsl(-168%, 100%, 50%));
  c-167: hue(hsl(-167%, 100%, 50%));
  c-166: hue(hsl(-166%, 100%, 50%));
  c-165: hue(hsl(-165%, 100%, 50%));
  c-164: hue(hsl(-164%, 100%, 50%));
  c-163: hue(hsl(-163%, 100%, 50%));
  c-162: hue(hsl(-162%, 100%, 50%));
  c-161: hue(hsl(-161%, 100%, 50%));
  c-160: hue(hsl(-160%, 100%, 50%));
  c-159: hue(hsl(-159%, 100%, 50%));
  c-158: hue(hsl(-158%, 100%, 50%));
  c-157: hue(hsl(-157%, 100%, 50%));
  c-156: hue(hsl(-156%, 100%, 50%));
  c-155: hue(hsl(-155%, 100%, 50%));
  c-154: hue(hsl(-154%, 100%, 50%));
  c-153: hue(hsl(-153%, 100%, 50%));
  c-152: hue(hsl(-152%, 100%, 50%));
  c-151: hue(hsl(-151%, 100%, 50%));
  c-150: hue(hsl(-150%, 100%, 50%));
  c-149: hue(hsl(-149%, 100%, 50%));
  c-148: hue(hsl(-148%, 100%, 50%));
  c-147: hue(hsl(-147%, 100%, 50%));
  c-146: hue(hsl(-146%, 100%, 50%));
  c-145: hue(hsl(-145%, 100%, 50%));
  c-144: hue(hsl(-144%, 100%, 50%));
  c-143: hue(hsl(-143%, 100%, 50%));
  c-142: hue(hsl(-142%, 100%, 50%));
  c-141: hue(hsl(-141%, 100%, 50%));
  c-140: hue(hsl(-140%, 100%, 50%));
  c-139: hue(hsl(-139%, 100%, 50%));
  c-138: hue(hsl(-138%, 100%, 50%));
  c-137: hue(hsl(-137%, 100%, 50%));
  c-136: hue(hsl(-136%, 100%, 50%));
  c-135: hue(hsl(-135%, 100%, 50%));
  c-134: hue(hsl(-134%, 100%, 50%));
  c-133: hue(hsl(-133%, 100%, 50%));
  c-132: hue(hsl(-132%, 100%, 50%));
  c-131: hue(hsl(-131%, 100%, 50%));
  c-130: hue(hsl(-130%, 100%, 50%));
  c-129: hue(hsl(-129%, 100%, 50%));
  c-128: hue(hsl(-128%, 100%, 50%));
  c-127: hue(hsl(-127%, 100%, 50%));
  c-126: hue(hsl(-126%, 100%, 50%));
  c-125: hue(hsl(-125%, 100%, 50%));
  c-124: hue(hsl(-124%, 100%, 50%));
  c-123: hue(hsl(-123%, 100%, 50%));
  c-122: hue(hsl(-122%, 100%, 50%));
  c-121: hue(hsl(-121%, 100%, 50%));
  c-120: hue(hsl(-120%, 100%, 50%));
  c-119: hue(hsl(-119%, 100%, 50%));
  c-118: hue(hsl(-118%, 100%, 50%));
  c-117: hue(hsl(-117%, 100%, 50%));
  c-116: hue(hsl(-116%, 100%, 50%));
  c-115: hue(hsl(-115%, 100%, 50%));
  c-114: hue(hsl(-114%, 100%, 50%));
  c-113: hue(hsl(-113%, 100%, 50%));
  c-112: hue(hsl(-112%, 100%, 50%));
  c-111: hue(hsl(-111%, 100%, 50%));
  c-110: hue(hsl(-110%, 100%, 50%));
  c-109: hue(hsl(-109%, 100%, 50%));
  c-108: hue(hsl(-108%, 100%, 50%));
  c-107: hue(hsl(-107%, 100%, 50%));
  c-106: hue(hsl(-106%, 100%, 50%));
  c-105: hue(hsl(-105%, 100%, 50%));
  c-104: hue(hsl(-104%, 100%, 50%));
  c-103: hue(hsl(-103%, 100%, 50%));
  c-102: hue(hsl(-102%, 100%, 50%));
  c-101: hue(hsl(-101%, 100%, 50%));
  c-100: hue(hsl(-100%, 100%, 50%));
  c-99: hue(hsl(-99%, 100%, 50%));
  c-98: hue(hsl(-98%, 100%, 50%));
  c-97: hue(hsl(-97%, 100%, 50%));
  c-96: hue(hsl(-96%, 100%, 50%));
  c-95: hue(hsl(-95%, 100%, 50%));
  c-94: hue(hsl(-94%, 100%, 50%));
  c-93: hue(hsl(-93%, 100%, 50%));
  c-92: hue(hsl(-92%, 100%, 50%));
  c-91: hue(hsl(-91%, 100%, 50%));
  c-90: hue(hsl(-90%, 100%, 50%));
  c-89: hue(hsl(-89%, 100%, 50%));
  c-88: hue(hsl(-88%, 100%, 50%));
  c-87: hue(hsl(-87%, 100%, 50%));
  c-86: hue(hsl(-86%, 100%, 50%));
  c-85: hue(hsl(-85%, 100%, 50%));
  c-84: hue(hsl(-84%, 100%, 50%));
  c-83: hue(hsl(-83%, 100%, 50%));
  c-82: hue(hsl(-82%, 100%, 50%));
  c-81: hue(hsl(-81%, 100%, 50%));
  c-80: hue(hsl(-80%, 100%, 50%));
  c-79: hue(hsl(-79%, 100%, 50%));
  c-78: hue(hsl(-78%, 100%, 50%));
  c-77: hue(hsl(-77%, 100%, 50%));
  c-76: hue(hsl(-76%, 100%, 50%));
  c-75: hue(hsl(-75%, 100%, 50%));
  c-74: hue(hsl(-74%, 100%, 50%));
  c-73: hue(hsl(-73%, 100%, 50%));
  c-72: hue(hsl(-72%, 100%, 50%));
  c-71: hue(hsl(-71%, 100%, 50%));
  c-70: hue(hsl(-70%, 100%, 50%));
  c-69: hue(hsl(-69%, 100%, 50%));
  c-68: hue(hsl(-68%, 100%, 50%));
  c-67: hue(hsl(-67%, 100%, 50%));
  c-66: hue(hsl(-66%, 100%, 50%));
  c-65: hue(hsl(-65%, 100%, 50%));
  c-64: hue(hsl(-64%, 100%, 50%));
  c-63: hue(hsl(-63%, 100%, 50%));
  c-62: hue(hsl(-62%, 100%, 50%));
  c-61: hue(hsl(-61%, 100%, 50%));
  c-60: hue(hsl(-60%, 100%, 50%));
  c-59: hue(hsl(-59%, 100%, 50%));
  c-58: hue(hsl(-58%, 100%, 50%));
  c-57: hue(hsl(-57%, 100%, 50%));
  c-56: hue(hsl(-56%, 100%, 50%));
  c-55: hue(hsl(-55%, 100%, 50%));
  c-54: hue(hsl(-54%, 100%, 50%));
  c-53: hue(hsl(-53%, 100%, 50%));
  c-52: hue(hsl(-52%, 100%, 50%));
  c-51: hue(hsl(-51%, 100%, 50%));
  c-50: hue(hsl(-50%, 100%, 50%));
  c-49: hue(hsl(-49%, 100%, 50%));
  c-48: hue(hsl(-48%, 100%, 50%));
  c-47: hue(hsl(-47%, 100%, 50%));
  c-46: hue(hsl(-46%, 100%, 50%));
  c-45: hue(hsl(-45%, 100%, 50%));
  c-44: hue(hsl(-44%, 100%, 50%));
  c-43: hue(hsl(-43%, 100%, 50%));
  c-42: hue(hsl(-42%, 100%, 50%));
  c-41: hue(hsl(-41%, 100%, 50%));
  c-40: hue(hsl(-40%, 100%, 50%));
  c-39: hue(hsl(-39%, 100%, 50%));
  c-38: hue(hsl(-38%, 100%, 50%));
  c-37: hue(hsl(-37%, 100%, 50%));
  c-36: hue(hsl(-36%, 100%, 50%));
  c-35: hue(hsl(-35%, 100%, 50%));
  c-34: hue(hsl(-34%, 100%, 50%));
  c-33: hue(hsl(-33%, 100%, 50%));
  c-32: hue(hsl(-32%, 100%, 50%));
  c-31: hue(hsl(-31%, 100%, 50%));
  c-30: hue(hsl(-30%, 100%, 50%));
  c-29: hue(hsl(-29%, 100%, 50%));
  c-28: hue(hsl(-28%, 100%, 50%));
  c-27: hue(hsl(-27%, 100%, 50%));
  c-26: hue(hsl(-26%, 100%, 50%));
  c-25: hue(hsl(-25%, 100%, 50%));
  c-24: hue(hsl(-24%, 100%, 50%));
  c-23: hue(hsl(-23%, 100%, 50%));
  c-22: hue(hsl(-22%, 100%, 50%));
  c-21: hue(hsl(-21%, 100%, 50%));
  c-20: hue(hsl(-20%, 100%, 50%));
  c-19: hue(hsl(-19%, 100%, 50%));
  c-18: hue(hsl(-18%, 100%, 50%));
  c-17: hue(hsl(-17%, 100%, 50%));
  c-16: hue(hsl(-16%, 100%, 50%));
  c-15: hue(hsl(-15%, 100%, 50%));
  c-14: hue(hsl(-14%, 100%, 50%));
  c-13: hue(hsl(-13%, 100%, 50%));
  c-12: hue(hsl(-12%, 100%, 50%));
  c-11: hue(hsl(-11%, 100%, 50%));
  c-10: hue(hsl(-10%, 100%, 50%));
  c-9: hue(hsl(-9%, 100%, 50%));
  c-8: hue(hsl(-8%, 100%, 50%));
  c-7: hue(hsl(-7%, 100%, 50%));
  c-6: hue(hsl(-6%, 100%, 50%));
  c-5: hue(hsl(-5%, 100%, 50%));
  c-4: hue(hsl(-4%, 100%, 50%));
  c-3: hue(hsl(-3%, 100%, 50%));
  c-2: hue(hsl(-2%, 100%, 50%));
  c-1: hue(hsl(-1%, 100%, 50%));
  c0: hue(hsl(0%, 100%, 50%));
  c1: hue(hsl(1%, 100%, 50%));
  c2: hue(hsl(2%, 100%, 50%));
  c3: hue(hsl(3%, 100%, 50%));
  c4: hue(hsl(4%, 100%, 50%));
  c5: hue(hsl(5%, 100%, 50%));
  c6: hue(hsl(6%, 100%, 50%));
  c7: hue(hsl(7%, 100%, 50%));
  c8: hue(hsl(8%, 100%, 50%));
  c9: hue(hsl(9%, 100%, 50%));
  c10: hue(hsl(10%, 100%, 50%));
  c11: hue(hsl(11%, 100%, 50%));
  c12: hue(hsl(12%, 100%, 50%));
  c13: hue(hsl(13%, 100%, 50%));
  c14: hue(hsl(14%, 100%, 50%));
  c15: hue(hsl(15%, 100%, 50%));
  c16: hue(hsl(16%, 100%, 50%));
  c17: hue(hsl(17%, 100%, 50%));
  c18: hue(hsl(18%, 100%, 50%));
  c19: hue(hsl(19%, 100%, 50%));
  c20: hue(hsl(20%, 100%, 50%));
  c21: hue(hsl(21%, 100%, 50%));
  c22: hue(hsl(22%, 100%, 50%));
  c23: hue(hsl(23%, 100%, 50%));
  c24: hue(hsl(24%, 100%, 50%));
  c25: hue(hsl(25%, 100%, 50%));
  c26: hue(hsl(26%, 100%, 50%));
  c27: hue(hsl(27%, 100%, 50%));
  c28: hue(hsl(28%, 100%, 50%));
  c29: hue(hsl(29%, 100%, 50%));
  c30: hue(hsl(30%, 100%, 50%));
  c31: hue(hsl(31%, 100%, 50%));
  c32: hue(hsl(32%, 100%, 50%));
  c33: hue(hsl(33%, 100%, 50%));
  c34: hue(hsl(34%, 100%, 50%));
  c35: hue(hsl(35%, 100%, 50%));
  c36: hue(hsl(36%, 100%, 50%));
  c37: hue(hsl(37%, 100%, 50%));
  c38: hue(hsl(38%, 100%, 50%));
  c39: hue(hsl(39%, 100%, 50%));
  c40: hue(hsl(40%, 100%, 50%));
  c41: hue(hsl(41%, 100%, 50%));
  c42: hue(hsl(42%, 100%, 50%));
  c43: hue(hsl(43%, 100%, 50%));
  c44: hue(hsl(44%, 100%, 50%));
  c45: hue(hsl(45%, 100%, 50%));
  c46: hue(hsl(46%, 100%, 50%));
  c47: hue(hsl(47%, 100%, 50%));
  c48: hue(hsl(48%, 100%, 50%));
  c49: hue(hsl(49%, 100%, 50%));
  c50: hue(hsl(50%, 100%, 50%));
  c51: hue(hsl(51%, 100%, 50%));
  c52: hue(hsl(52%, 100%, 50%));
  c53: hue(hsl(53%, 100%, 50%));
  c54: hue(hsl(54%, 100%, 50%));
  c55: hue(hsl(55%, 100%, 50%));
  c56: hue(hsl(56%, 100%, 50%));
  c57: hue(hsl(57%, 100%, 50%));
  c58: hue(hsl(58%, 100%, 50%));
  c59: hue(hsl(59%, 100%, 50%));
  c60: hue(hsl(60%, 100%, 50%));
  c61: hue(hsl(61%, 100%, 50%));
  c62: hue(hsl(62%, 100%, 50%));
  c63: hue(hsl(63%, 100%, 50%));
  c64: hue(hsl(64%, 100%, 50%));
  c65: hue(hsl(65%, 100%, 50%));
  c66: hue(hsl(66%, 100%, 50%));
  c67: hue(hsl(67%, 100%, 50%));
  c68: hue(hsl(68%, 100%, 50%));
  c69: hue(hsl(69%, 100%, 50%));
  c70: hue(hsl(70%, 100%, 50%));
  c71: hue(hsl(71%, 100%, 50%));
  c72: hue(hsl(72%, 100%, 50%));
  c73: hue(hsl(73%, 100%, 50%));
  c74: hue(hsl(74%, 100%, 50%));
  c75: hue(hsl(75%, 100%, 50%));
  c76: hue(hsl(76%, 100%, 50%));
  c77: hue(hsl(77%, 100%, 50%));
  c78: hue(hsl(78%, 100%, 50%));
  c79: hue(hsl(79%, 100%, 50%));
  c80: hue(hsl(80%, 100%, 50%));
  c81: hue(hsl(81%, 100%, 50%));
  c82: hue(hsl(82%, 100%, 50%));
  c83: hue(hsl(83%, 100%, 50%));
  c84: hue(hsl(84%, 100%, 50%));
  c85: hue(hsl(85%, 100%, 50%));
  c86: hue(hsl(86%, 100%, 50%));
  c87: hue(hsl(87%, 100%, 50%));
  c88: hue(hsl(88%, 100%, 50%));
  c89: hue(hsl(89%, 100%, 50%));
  c90: hue(hsl(90%, 100%, 50%));
  c91: hue(hsl(91%, 100%, 50%));
  c92: hue(hsl(92%, 100%, 50%));
  c93: hue(hsl(93%, 100%, 50%));
  c94: hue(hsl(94%, 100%, 50%));
  c95: hue(hsl(95%, 100%, 50%));
  c96: hue(hsl(96%, 100%, 50%));
  c97: hue(hsl(97%, 100%, 50%));
  c98: hue(hsl(98%, 100%, 50%));
  c99: hue(hsl(99%, 100%, 50%));
  c100: hue(hsl(100%, 100%, 50%));
  c101: hue(hsl(101%, 100%, 50%));
  c102: hue(hsl(102%, 100%, 50%));
  c103: hue(hsl(103%, 100%, 50%));
  c104: hue(hsl(104%, 100%, 50%));
  c105: hue(hsl(105%, 100%, 50%));
  c106: hue(hsl(106%, 100%, 50%));
  c107: hue(hsl(107%, 100%, 50%));
  c108: hue(hsl(108%, 100%, 50%));
  c109: hue(hsl(109%, 100%, 50%));
  c110: hue(hsl(110%, 100%, 50%));
  c111: hue(hsl(111%, 100%, 50%));
  c112: hue(hsl(112%, 100%, 50%));
  c113: hue(hsl(113%, 100%, 50%));
  c114: hue(hsl(114%, 100%, 50%));
  c115: hue(hsl(115%, 100%, 50%));
  c116: hue(hsl(116%, 100%, 50%));
  c117: hue(hsl(117%, 100%, 50%));
  c118: hue(hsl(118%, 100%, 50%));
  c119: hue(hsl(119%, 100%, 50%));
  c120: hue(hsl(120%, 100%, 50%));
  c121: hue(hsl(121%, 100%, 50%));
  c122: hue(hsl(122%, 100%, 50%));
  c123: hue(hsl(123%, 100%, 50%));
  c124: hue(hsl(124%, 100%, 50%));
  c125: hue(hsl(125%, 100%, 50%));
  c126: hue(hsl(126%, 100%, 50%));
  c127: hue(hsl(127%, 100%, 50%));
  c128: hue(hsl(128%, 100%, 50%));
  c129: hue(hsl(129%, 100%, 50%));
  c130: hue(hsl(130%, 100%, 50%));
  c131: hue(hsl(131%, 100%, 50%));
  c132: hue(hsl(132%, 100%, 50%));
  c133: hue(hsl(133%, 100%, 50%));
  c134: hue(hsl(134%, 100%, 50%));
  c135: hue(hsl(135%, 100%, 50%));
  c136: hue(hsl(136%, 100%, 50%));
  c137: hue(hsl(137%, 100%, 50%));
  c138: hue(hsl(138%, 100%, 50%));
  c139: hue(hsl(139%, 100%, 50%));
  c140: hue(hsl(140%, 100%, 50%));
  c141: hue(hsl(141%, 100%, 50%));
  c142: hue(hsl(142%, 100%, 50%));
  c143: hue(hsl(143%, 100%, 50%));
  c144: hue(hsl(144%, 100%, 50%));
  c145: hue(hsl(145%, 100%, 50%));
  c146: hue(hsl(146%, 100%, 50%));
  c147: hue(hsl(147%, 100%, 50%));
  c148: hue(hsl(148%, 100%, 50%));
  c149: hue(hsl(149%, 100%, 50%));
  c150: hue(hsl(150%, 100%, 50%));
  c151: hue(hsl(151%, 100%, 50%));
  c152: hue(hsl(152%, 100%, 50%));
  c153: hue(hsl(153%, 100%, 50%));
  c154: hue(hsl(154%, 100%, 50%));
  c155: hue(hsl(155%, 100%, 50%));
  c156: hue(hsl(156%, 100%, 50%));
  c157: hue(hsl(157%, 100%, 50%));
  c158: hue(hsl(158%, 100%, 50%));
  c159: hue(hsl(159%, 100%, 50%));
  c160: hue(hsl(160%, 100%, 50%));
  c161: hue(hsl(161%, 100%, 50%));
  c162: hue(hsl(162%, 100%, 50%));
  c163: hue(hsl(163%, 100%, 50%));
  c164: hue(hsl(164%, 100%, 50%));
  c165: hue(hsl(165%, 100%, 50%));
  c166: hue(hsl(166%, 100%, 50%));
  c167: hue(hsl(167%, 100%, 50%));
  c168: hue(hsl(168%, 100%, 50%));
  c169: hue(hsl(169%, 100%, 50%));
  c170: hue(hsl(170%, 100%, 50%));
  c171: hue(hsl(171%, 100%, 50%));
  c172: hue(hsl(172%, 100%, 50%));
  c173: hue(hsl(173%, 100%, 50%));
  c174: hue(hsl(174%, 100%, 50%));
  c175: hue(hsl(175%, 100%, 50%));
  c176: hue(hsl(176%, 100%, 50%));
  c177: hue(hsl(177%, 100%, 50%));
  c178: hue(hsl(178%, 100%, 50%));
  c179: hue(hsl(179%, 100%, 50%));
  c180: hue(hsl(180%, 100%, 50%));
  c181: hue(hsl(181%, 100%, 50%));
  c182: hue(hsl(182%, 100%, 50%));
  c183: hue(hsl(183%, 100%, 50%));
  c184: hue(hsl(184%, 100%, 50%));
  c185: hue(hsl(185%, 100%, 50%));
  c186: hue(hsl(186%, 100%, 50%));
  c187: hue(hsl(187%, 100%, 50%));
  c188: hue(hsl(188%, 100%, 50%));
  c189: hue(hsl(189%, 100%, 50%));
  c190: hue(hsl(190%, 100%, 50%));
  c191: hue(hsl(191%, 100%, 50%));
  c192: hue(hsl(192%, 100%, 50%));
  c193: hue(hsl(193%, 100%, 50%));
  c194: hue(hsl(194%, 100%, 50%));
  c195: hue(hsl(195%, 100%, 50%));
  c196: hue(hsl(196%, 100%, 50%));
  c197: hue(hsl(197%, 100%, 50%));
  c198: hue(hsl(198%, 100%, 50%));
  c199: hue(hsl(199%, 100%, 50%));
  c200: hue(hsl(200%, 100%, 50%));
  c201: hue(hsl(201%, 100%, 50%));
  c202: hue(hsl(202%, 100%, 50%));
  c203: hue(hsl(203%, 100%, 50%));
  c204: hue(hsl(204%, 100%, 50%));
  c205: hue(hsl(205%, 100%, 50%));
  c206: hue(hsl(206%, 100%, 50%));
  c207: hue(hsl(207%, 100%, 50%));
  c208: hue(hsl(208%, 100%, 50%));
  c209: hue(hsl(209%, 100%, 50%));
  c210: hue(hsl(210%, 100%, 50%));
  c211: hue(hsl(211%, 100%, 50%));
  c212: hue(hsl(212%, 100%, 50%));
  c213: hue(hsl(213%, 100%, 50%));
  c214: hue(hsl(214%, 100%, 50%));
  c215: hue(hsl(215%, 100%, 50%));
  c216: hue(hsl(216%, 100%, 50%));
  c217: hue(hsl(217%, 100%, 50%));
  c218: hue(hsl(218%, 100%, 50%));
  c219: hue(hsl(219%, 100%, 50%));
  c220: hue(hsl(220%, 100%, 50%));
  c221: hue(hsl(221%, 100%, 50%));
  c222: hue(hsl(222%, 100%, 50%));
  c223: hue(hsl(223%, 100%, 50%));
  c224: hue(hsl(224%, 100%, 50%));
  c225: hue(hsl(225%, 100%, 50%));
  c226: hue(hsl(226%, 100%, 50%));
  c227: hue(hsl(227%, 100%, 50%));
  c228: hue(hsl(228%, 100%, 50%));
  c229: hue(hsl(229%, 100%, 50%));
  c230: hue(hsl(230%, 100%, 50%));
  c231: hue(hsl(231%, 100%, 50%));
  c232: hue(hsl(232%, 100%, 50%));
  c233: hue(hsl(233%, 100%, 50%));
  c234: hue(hsl(234%, 100%, 50%));
  c235: hue(hsl(235%, 100%, 50%));
  c236: hue(hsl(236%, 100%, 50%));
  c237: hue(hsl(237%, 100%, 50%));
  c238: hue(hsl(238%, 100%, 50%));
  c239: hue(hsl(239%, 100%, 50%));
  c240: hue(hsl(240%, 100%, 50%));
  c241: hue(hsl(241%, 100%, 50%));
  c242: hue(hsl(242%, 100%, 50%));
  c243: hue(hsl(243%, 100%, 50%));
  c244: hue(hsl(244%, 100%, 50%));
  c245: hue(hsl(245%, 100%, 50%));
  c246: hue(hsl(246%, 100%, 50%));
  c247: hue(hsl(247%, 100%, 50%));
  c248: hue(hsl(248%, 100%, 50%));
  c249: hue(hsl(249%, 100%, 50%));
  c250: hue(hsl(250%, 100%, 50%));
  c251: hue(hsl(251%, 100%, 50%));
  c252: hue(hsl(252%, 100%, 50%));
  c253: hue(hsl(253%, 100%, 50%));
  c254: hue(hsl(254%, 100%, 50%));
  c255: hue(hsl(255%, 100%, 50%));
  c256: hue(hsl(256%, 100%, 50%));
  c257: hue(hsl(257%, 100%, 50%));
  c258: hue(hsl(258%, 100%, 50%));
  c259: hue(hsl(259%, 100%, 50%));
  c260: hue(hsl(260%, 100%, 50%));
  c261: hue(hsl(261%, 100%, 50%));
  c262: hue(hsl(262%, 100%, 50%));
  c263: hue(hsl(263%, 100%, 50%));
  c264: hue(hsl(264%, 100%, 50%));
  c265: hue(hsl(265%, 100%, 50%));
  c266: hue(hsl(266%, 100%, 50%));
  c267: hue(hsl(267%, 100%, 50%));
  c268: hue(hsl(268%, 100%, 50%));
  c269: hue(hsl(269%, 100%, 50%));
  c270: hue(hsl(270%, 100%, 50%));
  c271: hue(hsl(271%, 100%, 50%));
  c272: hue(hsl(272%, 100%, 50%));
  c273: hue(hsl(273%, 100%, 50%));
  c274: hue(hsl(274%, 100%, 50%));
  c275: hue(hsl(275%, 100%, 50%));
  c276: hue(hsl(276%, 100%, 50%));
  c277: hue(hsl(277%, 100%, 50%));
  c278: hue(hsl(278%, 100%, 50%));
  c279: hue(hsl(279%, 100%, 50%));
  c280: hue(hsl(280%, 100%, 50%));
  c281: hue(hsl(281%, 100%, 50%));
  c282: hue(hsl(282%, 100%, 50%));
  c283: hue(hsl(283%, 100%, 50%));
  c284: hue(hsl(284%, 100%, 50%));
  c285: hue(hsl(285%, 100%, 50%));
  c286: hue(hsl(286%, 100%, 50%));
  c287: hue(hsl(287%, 100%, 50%));
  c288: hue(hsl(288%, 100%, 50%));
  c289: hue(hsl(289%, 100%, 50%));
  c290: hue(hsl(290%, 100%, 50%));
  c291: hue(hsl(291%, 100%, 50%));
  c292: hue(hsl(292%, 100%, 50%));
  c293: hue(hsl(293%, 100%, 50%));
  c294: hue(hsl(294%, 100%, 50%));
  c295: hue(hsl(295%, 100%, 50%));
  c296: hue(hsl(296%, 100%, 50%));
  c297: hue(hsl(297%, 100%, 50%));
  c298: hue(hsl(298%, 100%, 50%));
  c299: hue(hsl(299%, 100%, 50%));
  c300: hue(hsl(300%, 100%, 50%));
  c301: hue(hsl(301%, 100%, 50%));
  c302: hue(hsl(302%, 100%, 50%));
  c303: hue(hsl(303%, 100%, 50%));
  c304: hue(hsl(304%, 100%, 50%));
  c305: hue(hsl(305%, 100%, 50%));
  c306: hue(hsl(306%, 100%, 50%));
  c307: hue(hsl(307%, 100%, 50%));
  c308: hue(hsl(308%, 100%, 50%));
  c309: hue(hsl(309%, 100%, 50%));
  c310: hue(hsl(310%, 100%, 50%));
  c311: hue(hsl(311%, 100%, 50%));
  c312: hue(hsl(312%, 100%, 50%));
  c313: hue(hsl(313%, 100%, 50%));
  c314: hue(hsl(314%, 100%, 50%));
  c315: hue(hsl(315%, 100%, 50%));
  c316: hue(hsl(316%, 100%, 50%));
  c317: hue(hsl(317%, 100%, 50%));
  c318: hue(hsl(318%, 100%, 50%));
  c319: hue(hsl(319%, 100%, 50%));
  c320: hue(hsl(320%, 100%, 50%));
  c321: hue(hsl(321%, 100%, 50%));
  c322: hue(hsl(322%, 100%, 50%));
  c323: hue(hsl(323%, 100%, 50%));
  c324: hue(hsl(324%, 100%, 50%));
  c325: hue(hsl(325%, 100%, 50%));
  c326: hue(hsl(326%, 100%, 50%));
  c327: hue(hsl(327%, 100%, 50%));
  c328: hue(hsl(328%, 100%, 50%));
  c329: hue(hsl(329%, 100%, 50%));
  c330: hue(hsl(330%, 100%, 50%));
  c331: hue(hsl(331%, 100%, 50%));
  c332: hue(hsl(332%, 100%, 50%));
  c333: hue(hsl(333%, 100%, 50%));
  c334: hue(hsl(334%, 100%, 50%));
  c335: hue(hsl(335%, 100%, 50%));
  c336: hue(hsl(336%, 100%, 50%));
  c337: hue(hsl(337%, 100%, 50%));
  c338: hue(hsl(338%, 100%, 50%));
  c339: hue(hsl(339%, 100%, 50%));
  c340: hue(hsl(340%, 100%, 50%));
  c341: hue(hsl(341%, 100%, 50%));
  c342: hue(hsl(342%, 100%, 50%));
  c343: hue(hsl(343%, 100%, 50%));
  c344: hue(hsl(344%, 100%, 50%));
  c345: hue(hsl(345%, 100%, 50%));
  c346: hue(hsl(346%, 100%, 50%));
  c347: hue(hsl(347%, 100%, 50%));
  c348: hue(hsl(348%, 100%, 50%));
  c349: hue(hsl(349%, 100%, 50%));
  c350: hue(hsl(350%, 100%, 50%));
  c351: hue(hsl(351%, 100%, 50%));
  c352: hue(hsl(352%, 100%, 50%));
  c353: hue(hsl(353%, 100%, 50%));
  c354: hue(hsl(354%, 100%, 50%));
  c355: hue(hsl(355%, 100%, 50%));
  c356: hue(hsl(356%, 100%, 50%));
  c357: hue(hsl(357%, 100%, 50%));
  c358: hue(hsl(358%, 100%, 50%));
  c359: hue(hsl(359%, 100%, 50%));
  c360: hue(hsl(360%, 100%, 50%));
  c361: hue(hsl(361%, 100%, 50%));
}
