@media (width < 600px) {
  a {
    dynamic: left;
  }
}

@media (width < 600px) {
  a {
    dynamic: right;
  }
}

@media (width < 600px) {
  a {
    dynamic: both;
  }
}

@media (width = 600px) {
  a {
    separator: equals;
  }
}

@media (100px < width < 600px) {
  a {
    dynamic: left;
  }
}

@media (100px < width < 600px) {
  a {
    dynamic: middle;
  }
}

@media (100px < width < 600px) {
  a {
    dynamic: right;
  }
}

@media (100px < width < 600px) {
  a {
    dynamic: all;
  }
}

@media (width < true) {
  a {
    comparison: in-operator;
  }
}

@media (width < 500px) {
  a {
    comparison: in-function;
  }
}

@media (width < [true]) {
  a {
    comparison: in-square-brackets;
  }
}

