.result {
  output: #{#{"foo#{'ba' + 'r'}baz"}};
  output: #{"[#{"foo#{'ba' + 'r'}baz"}]"};
  output: #{"#{"foo#{'ba' + 'r'}baz"}"};
  output: #{'#{"foo#{'ba' + 'r'}baz"}'};
  output: #{"['#{"foo#{'ba' + 'r'}baz"}']"};
}
