@media screen {
  a {
    b: c;
  }
}

@media not screen {
  a {
    b: c;
  }
}

@media screen {
  a {
    b: c;
  }
}

@media screen and (color) {
  a {
    b: c;
  }
}

@media not screen {
  a {
    b: c;
  }
}

@media not screen and (color) {
  a {
    b: c;
  }
}

@media screen and (color) {
  a {
    b: c;
  }
}

@media screen and (color) {
  a {
    b: c;
  }
}

@media not screen {
  a {
    b: c;
  }
}

@media screen, print {
  a {
    b: c;
  }
}
@media screen and (grid), print and (grid) {
  x {
    y: z;
  }
}
