div {
  p01: #AbC;
  p02: #AAbbCC;
  p03: #AbChello;
  p04: #abbccd;
  p05: #aabbdd;
  p06: #0101ff;
  p07: blue;
  p08: cyan;
  p09: #000000;
  p10: black;
  p11: black;
  p12: yellow;
  p13: #020202;
  p14: black;
  p15a: 10-#a2B;
  p15b: 10-#aa22BB;
  p16: black;
  p17: magenta;
  p18: 10 #ab23bc;
  p19a: 10/#a2B;
  p19b: 10/#aa22BB;
  p20: #0b0a0b;
  p21: white; }
