.result {
  output: \b \c \d \e \f ghijklmnopqrstuvwxyz;
  output: [\b \c \d \e \f ghijklmnopqrstuvwxyz];
  output: \b \c \d \e \f ghijklmnopqrstuvwxyz;
  output: \b \c \d \e \f ghijklmnopqrstuvwxyz;
  output: ['\b \c \d \e \f ghijklmnopqrstuvwxyz'];
}
