foo {
  c0: opacify(rgba(0,0,0,0.0), 0.1);
  c1: opacify(rgba(0,0,0,0.1), 0.1);
  c2: opacify(rgba(0,0,0,0.2), 0.1);
  c3: opacify(rgba(0,0,0,0.3), 0.1);
  c4: opacify(rgba(0,0,0,0.4), 0.1);
  c5: opacify(rgba(0,0,0,0.5), 0.1);
  c6: opacify(rgba(0,0,0,0.6), 0.1);
  c7: opacify(rgba(0,0,0,0.7), 0.1);
  c8: opacify(rgba(0,0,0,0.8), 0.1);
  c9: opacify(rgba(0,0,0,0.9), 0.1);
  c10: opacify(rgba(0,0,0,1), 0.1);
}
