a {
  s: green;
  t: #00FF00;
  u: lime;
  v: #0f0;
  w: lime;
  x: rgba(0, 255, 0, 0.5);
  y: lime;
  z: #00ff01;
}

b {
  s: green;
  t: #00FF00;
  u: lime;
  v: #0f0;
  w: lime;
  x: rgba(0, 255, 0, 0.5);
  y: lime;
  z: #00ff01;
}
