div {
  a: .foo.bar.baz;
  b: .a.b .bar, .foo.b .bar;
  c: .foo-suffix;
  d: .foo.bar, .foo-suffix;
  e: .foo--suffix;
  g: .a.b.de, .a.b.j, .a.bfoo, .a.c.de, .a.c.j, .a.cfoo;
  h: .a.b.de, .a.b.da, .a.b.dsuffix, .a.b.da, .ab.de, .ab.da, .ab.dsuffix, .ab.da, .aa.c.de, .aa.c.da, .aa.c.dsuffix, .aa.c.da;
  i: a.foobaz, a.barbaz, b.foobaz, b.barbaz, c.foobaz, c.barbaz, b.foobaz, b.barbaz, c.foobaz, c.barbaz, d.foobaz, d.barbaz;
  j: .a.b.de, .a.b.df, .a.bfoo, .a.c.de, .a.c.df, .a.cfoo; }
