@use 'sass:color';
@use 'sass:list';
@use 'sass:meta';

@function -real-channel($color, $channel) {
  @if color.is-missing($color, $channel) {
    @return none;
  } @else {
    @return color.channel($color, $channel);
  }
}

@mixin inspect($color) {
  a {
    value: $color;
    @if meta.type-of($color) == string {
      type: string;
    } @else {
      channels: list.slash(
        -real-channel($color, 'lightness')
          -real-channel($color, 'chroma')
          -real-channel($color, 'hue'),
        -real-channel($color, 'alpha')
      );
    }
  }
}
