a {
  b: 4;
  b: list;
  b: aaa 100;
  b: bbb 200;
  b: ccc 300;
  b: ddd 400;
  b: eee 500;
  b: fff 600;
  c: 4;
  c: list;
  c: ddd 400;
  c: eee 500;
  c: fff 600;
  c: aaa 100;
  c: bbb 200;
  c: ccc 300;
}
