a {
  two-letters: #ab;
  five-letters: #abcde;
  seven-letters: #abcdefa;
  nine-letters: #abcdefabc;
  three-letters-not-hex: #axc;
  four-letters-not-hex: #axcd;
  six-letters-not-hex: #abcxde;
  eight-letters-not-hex: #abcxdefa;
}
