.result {
  output: \b \c \d \e \f GHIJKLMNOPQRSTUVWXYZ;
  output: [\b \c \d \e \f GHIJKLMNOPQRSTUVWXYZ];
  output: \b \c \d \e \f GHIJKLMNOPQRSTUVWXYZ;
  output: \b \c \d \e \f GHIJKLMNOPQRSTUVWXYZ;
  output: ['\b \c \d \e \f GHIJKLMNOPQRSTUVWXYZ'];
}
