foo {
  test-1: 10!=10!=10;
  test-2: 10 !=10 !=10;
  test-3: 10!= 10!= 10;
  test-4: 10 != 10 != 10;
  test-5: 10!=10!=10px;
  test-6: 10 !=10 !=10px;
  test-7: 10!= 10!= 10px;
  test-8: 10 != 10 != 10px;
  test-9: 10!=10!=#{10}px;
  test-10: 10 !=10 !=#{10}px;
  test-11: 10!= 10!= #{10}px;
  test-12: 10 != 10 != #{10}px;
  test-13: 10!=10!=1#{0}px;
  test-14: 10 !=10 !=1#{0}px;
  test-15: 10!= 10!= 1#{0}px;
  test-16: 10 != 10 != 1#{0}px;
  test-17: 10!=10!=10#{px};
  test-18: 10 !=10 !=10#{px};
  test-19: 10!= 10!= 10#{px};
  test-20: 10 != 10 != 10#{px};
  test-21: 10!=10!=10#{p}x;
  test-22: 10 !=10 !=10#{p}x;
  test-23: 10!= 10!= 10#{p}x;
  test-24: 10 != 10 != 10#{p}x;
  test-25: 10!=10px!=10px;
  test-26: 10 !=10px !=10px;
  test-27: 10!= 10px!= 10px;
  test-28: 10 != 10px != 10px;
  test-29: 10!=10px!=#{10}px;
  test-30: 10 !=10px !=#{10}px;
  test-31: 10!= 10px!= #{10}px;
  test-32: 10 != 10px != #{10}px;
  test-33: 10!=10px!=1#{0}px;
  test-34: 10 !=10px !=1#{0}px;
  test-35: 10!= 10px!= 1#{0}px;
  test-36: 10 != 10px != 1#{0}px;
  test-37: 10!=10px!=10#{px};
  test-38: 10 !=10px !=10#{px};
  test-39: 10!= 10px!= 10#{px};
  test-40: 10 != 10px != 10#{px};
  test-41: 10!=10px!=10#{p}x;
  test-42: 10 !=10px !=10#{p}x;
  test-43: 10!= 10px!= 10#{p}x;
  test-44: 10 != 10px != 10#{p}x;
  test-45: 10!=#{10}px!=#{10}px;
  test-46: 10 !=#{10}px !=#{10}px;
  test-47: 10!= #{10}px!= #{10}px;
  test-48: 10 != #{10}px != #{10}px;
  test-49: 10!=#{10}px!=1#{0}px;
  test-50: 10 !=#{10}px !=1#{0}px;
  test-51: 10!= #{10}px!= 1#{0}px;
  test-52: 10 != #{10}px != 1#{0}px;
  test-53: 10!=#{10}px!=10#{px};
  test-54: 10 !=#{10}px !=10#{px};
  test-55: 10!= #{10}px!= 10#{px};
  test-56: 10 != #{10}px != 10#{px};
  test-57: 10!=#{10}px!=10#{p}x;
  test-58: 10 !=#{10}px !=10#{p}x;
  test-59: 10!= #{10}px!= 10#{p}x;
  test-60: 10 != #{10}px != 10#{p}x;
  test-61: 10!=1#{0}px!=1#{0}px;
  test-62: 10 !=1#{0}px !=1#{0}px;
  test-63: 10!= 1#{0}px!= 1#{0}px;
  test-64: 10 != 1#{0}px != 1#{0}px;
  test-65: 10!=1#{0}px!=10#{px};
  test-66: 10 !=1#{0}px !=10#{px};
  test-67: 10!= 1#{0}px!= 10#{px};
  test-68: 10 != 1#{0}px != 10#{px};
  test-69: 10!=1#{0}px!=10#{p}x;
  test-70: 10 !=1#{0}px !=10#{p}x;
  test-71: 10!= 1#{0}px!= 10#{p}x;
  test-72: 10 != 1#{0}px != 10#{p}x;
  test-73: 10!=10#{px}!=10#{px};
  test-74: 10 !=10#{px} !=10#{px};
  test-75: 10!= 10#{px}!= 10#{px};
  test-76: 10 != 10#{px} != 10#{px};
  test-77: 10!=10#{px}!=10#{p}x;
  test-78: 10 !=10#{px} !=10#{p}x;
  test-79: 10!= 10#{px}!= 10#{p}x;
  test-80: 10 != 10#{px} != 10#{p}x;
  test-81: 10!=10#{p}x!=10#{p}x;
  test-82: 10 !=10#{p}x !=10#{p}x;
  test-83: 10!= 10#{p}x!= 10#{p}x;
  test-84: 10 != 10#{p}x != 10#{p}x;
  test-85: 10px!=10px!=10px;
  test-86: 10px !=10px !=10px;
  test-87: 10px!= 10px!= 10px;
  test-88: 10px != 10px != 10px;
  test-89: 10px!=10px!=#{10}px;
  test-90: 10px !=10px !=#{10}px;
  test-91: 10px!= 10px!= #{10}px;
  test-92: 10px != 10px != #{10}px;
  test-93: 10px!=10px!=1#{0}px;
  test-94: 10px !=10px !=1#{0}px;
  test-95: 10px!= 10px!= 1#{0}px;
  test-96: 10px != 10px != 1#{0}px;
  test-97: 10px!=10px!=10#{px};
  test-98: 10px !=10px !=10#{px};
  test-99: 10px!= 10px!= 10#{px};
  test-100: 10px != 10px != 10#{px};
  test-101: 10px!=10px!=10#{p}x;
  test-102: 10px !=10px !=10#{p}x;
  test-103: 10px!= 10px!= 10#{p}x;
  test-104: 10px != 10px != 10#{p}x;
  test-105: 10px!=#{10}px!=#{10}px;
  test-106: 10px !=#{10}px !=#{10}px;
  test-107: 10px!= #{10}px!= #{10}px;
  test-108: 10px != #{10}px != #{10}px;
  test-109: 10px!=#{10}px!=1#{0}px;
  test-110: 10px !=#{10}px !=1#{0}px;
  test-111: 10px!= #{10}px!= 1#{0}px;
  test-112: 10px != #{10}px != 1#{0}px;
  test-113: 10px!=#{10}px!=10#{px};
  test-114: 10px !=#{10}px !=10#{px};
  test-115: 10px!= #{10}px!= 10#{px};
  test-116: 10px != #{10}px != 10#{px};
  test-117: 10px!=#{10}px!=10#{p}x;
  test-118: 10px !=#{10}px !=10#{p}x;
  test-119: 10px!= #{10}px!= 10#{p}x;
  test-120: 10px != #{10}px != 10#{p}x;
  test-121: 10px!=1#{0}px!=1#{0}px;
  test-122: 10px !=1#{0}px !=1#{0}px;
  test-123: 10px!= 1#{0}px!= 1#{0}px;
  test-124: 10px != 1#{0}px != 1#{0}px;
  test-125: 10px!=1#{0}px!=10#{px};
  test-126: 10px !=1#{0}px !=10#{px};
  test-127: 10px!= 1#{0}px!= 10#{px};
  test-128: 10px != 1#{0}px != 10#{px};
  test-129: 10px!=1#{0}px!=10#{p}x;
  test-130: 10px !=1#{0}px !=10#{p}x;
  test-131: 10px!= 1#{0}px!= 10#{p}x;
  test-132: 10px != 1#{0}px != 10#{p}x;
  test-133: 10px!=10#{px}!=10#{px};
  test-134: 10px !=10#{px} !=10#{px};
  test-135: 10px!= 10#{px}!= 10#{px};
  test-136: 10px != 10#{px} != 10#{px};
  test-137: 10px!=10#{px}!=10#{p}x;
  test-138: 10px !=10#{px} !=10#{p}x;
  test-139: 10px!= 10#{px}!= 10#{p}x;
  test-140: 10px != 10#{px} != 10#{p}x;
  test-141: 10px!=10#{p}x!=10#{p}x;
  test-142: 10px !=10#{p}x !=10#{p}x;
  test-143: 10px!= 10#{p}x!= 10#{p}x;
  test-144: 10px != 10#{p}x != 10#{p}x;
  test-145: #{10}px!=#{10}px!=#{10}px;
  test-146: #{10}px !=#{10}px !=#{10}px;
  test-147: #{10}px!= #{10}px!= #{10}px;
  test-148: #{10}px != #{10}px != #{10}px;
  test-149: #{10}px!=#{10}px!=1#{0}px;
  test-150: #{10}px !=#{10}px !=1#{0}px;
  test-151: #{10}px!= #{10}px!= 1#{0}px;
  test-152: #{10}px != #{10}px != 1#{0}px;
  test-153: #{10}px!=#{10}px!=10#{px};
  test-154: #{10}px !=#{10}px !=10#{px};
  test-155: #{10}px!= #{10}px!= 10#{px};
  test-156: #{10}px != #{10}px != 10#{px};
  test-157: #{10}px!=#{10}px!=10#{p}x;
  test-158: #{10}px !=#{10}px !=10#{p}x;
  test-159: #{10}px!= #{10}px!= 10#{p}x;
  test-160: #{10}px != #{10}px != 10#{p}x;
  test-161: #{10}px!=1#{0}px!=1#{0}px;
  test-162: #{10}px !=1#{0}px !=1#{0}px;
  test-163: #{10}px!= 1#{0}px!= 1#{0}px;
  test-164: #{10}px != 1#{0}px != 1#{0}px;
  test-165: #{10}px!=1#{0}px!=10#{px};
  test-166: #{10}px !=1#{0}px !=10#{px};
  test-167: #{10}px!= 1#{0}px!= 10#{px};
  test-168: #{10}px != 1#{0}px != 10#{px};
  test-169: #{10}px!=1#{0}px!=10#{p}x;
  test-170: #{10}px !=1#{0}px !=10#{p}x;
  test-171: #{10}px!= 1#{0}px!= 10#{p}x;
  test-172: #{10}px != 1#{0}px != 10#{p}x;
  test-173: #{10}px!=10#{px}!=10#{px};
  test-174: #{10}px !=10#{px} !=10#{px};
  test-175: #{10}px!= 10#{px}!= 10#{px};
  test-176: #{10}px != 10#{px} != 10#{px};
  test-177: #{10}px!=10#{px}!=10#{p}x;
  test-178: #{10}px !=10#{px} !=10#{p}x;
  test-179: #{10}px!= 10#{px}!= 10#{p}x;
  test-180: #{10}px != 10#{px} != 10#{p}x;
  test-181: #{10}px!=10#{p}x!=10#{p}x;
  test-182: #{10}px !=10#{p}x !=10#{p}x;
  test-183: #{10}px!= 10#{p}x!= 10#{p}x;
  test-184: #{10}px != 10#{p}x != 10#{p}x;
  test-185: 1#{0}px!=1#{0}px!=1#{0}px;
  test-186: 1#{0}px !=1#{0}px !=1#{0}px;
  test-187: 1#{0}px!= 1#{0}px!= 1#{0}px;
  test-188: 1#{0}px != 1#{0}px != 1#{0}px;
  test-189: 1#{0}px!=1#{0}px!=10#{px};
  test-190: 1#{0}px !=1#{0}px !=10#{px};
  test-191: 1#{0}px!= 1#{0}px!= 10#{px};
  test-192: 1#{0}px != 1#{0}px != 10#{px};
  test-193: 1#{0}px!=1#{0}px!=10#{p}x;
  test-194: 1#{0}px !=1#{0}px !=10#{p}x;
  test-195: 1#{0}px!= 1#{0}px!= 10#{p}x;
  test-196: 1#{0}px != 1#{0}px != 10#{p}x;
  test-197: 1#{0}px!=10#{px}!=10#{px};
  test-198: 1#{0}px !=10#{px} !=10#{px};
  test-199: 1#{0}px!= 10#{px}!= 10#{px};
  test-200: 1#{0}px != 10#{px} != 10#{px};
  test-201: 1#{0}px!=10#{px}!=10#{p}x;
  test-202: 1#{0}px !=10#{px} !=10#{p}x;
  test-203: 1#{0}px!= 10#{px}!= 10#{p}x;
  test-204: 1#{0}px != 10#{px} != 10#{p}x;
  test-205: 1#{0}px!=10#{p}x!=10#{p}x;
  test-206: 1#{0}px !=10#{p}x !=10#{p}x;
  test-207: 1#{0}px!= 10#{p}x!= 10#{p}x;
  test-208: 1#{0}px != 10#{p}x != 10#{p}x;
  test-209: 10#{px}!=10#{px}!=10#{px};
  test-210: 10#{px} !=10#{px} !=10#{px};
  test-211: 10#{px}!= 10#{px}!= 10#{px};
  test-212: 10#{px} != 10#{px} != 10#{px};
  test-213: 10#{px}!=10#{px}!=10#{p}x;
  test-214: 10#{px} !=10#{px} !=10#{p}x;
  test-215: 10#{px}!= 10#{px}!= 10#{p}x;
  test-216: 10#{px} != 10#{px} != 10#{p}x;
  test-217: 10#{px}!=10#{p}x!=10#{p}x;
  test-218: 10#{px} !=10#{p}x !=10#{p}x;
  test-219: 10#{px}!= 10#{p}x!= 10#{p}x;
  test-220: 10#{px} != 10#{p}x != 10#{p}x;
  test-221: 10#{p}x!=10#{p}x!=10#{p}x;
  test-222: 10#{p}x !=10#{p}x !=10#{p}x;
  test-223: 10#{p}x!= 10#{p}x!= 10#{p}x;
  test-224: 10#{p}x != 10#{p}x != 10#{p}x;
}
