foo {
  set: red 50px, , foobar, number 20px;
  set-type: list;
  before: (key: value, number: 20px);
  after: (red 50px, null null, foobar), number 20px;
  length: 3;
  key: red 50px;
  key-type: list;
  value1-type: list; }
