.multiple {
  multiple-numerators: 1px*rad;
  multiple-denominators: 1/px*rad;
  divide-by-multiple-numerators: 1/px*rad;
  divide-by-multiple-denominators: 1px*rad;
  multiplication-cancels-denominator: 1px*rad/Hz;
  multiplication-cancels-denominator-twice: 1px*rad;
  multiplication-cancels-numerator: 1rad/Hz*ms;
  multiplication-cancels-numerator-twice: 1/Hz*ms;
  multiplication-cancels-both: 1rad/Hz;
  division-cancels-numerator: 1px/Hz*ms;
  division-cancels-numerator-twice: 1/Hz*ms;
  division-cancels-denominator: 1px*rad/Hz;
  division-cancels-denominator-twice: 1px*rad;
  division-cancels-both: 1rad/Hz;
  multiplication-cancels-compatible: 1000px*rad/Hz;
  division-cancels-compatible: 0.01042rad/Hz*ms;
  multiplication-cancels-unknown: 1bar*foo/qux;
  division-cancels-unknown: 1bar/baz*qux;
}
