foo {
  c0: desaturate(hsl(100, 100%, 50%), 0%);
  c1: desaturate(hsl(100, 100%, 50%), 1%);
  c2: desaturate(hsl(100, 100%, 50%), 2%);
  c3: desaturate(hsl(100, 100%, 50%), 3%);
  c4: desaturate(hsl(100, 100%, 50%), 4%);
  c5: desaturate(hsl(100, 100%, 50%), 5%);
  c6: desaturate(hsl(100, 100%, 50%), 6%);
  c7: desaturate(hsl(100, 100%, 50%), 7%);
  c8: desaturate(hsl(100, 100%, 50%), 8%);
  c9: desaturate(hsl(100, 100%, 50%), 9%);
  c10: desaturate(hsl(100, 100%, 50%), 10%);
  c11: desaturate(hsl(100, 100%, 50%), 11%);
  c12: desaturate(hsl(100, 100%, 50%), 12%);
  c13: desaturate(hsl(100, 100%, 50%), 13%);
  c14: desaturate(hsl(100, 100%, 50%), 14%);
  c15: desaturate(hsl(100, 100%, 50%), 15%);
  c16: desaturate(hsl(100, 100%, 50%), 16%);
  c17: desaturate(hsl(100, 100%, 50%), 17%);
  c18: desaturate(hsl(100, 100%, 50%), 18%);
  c19: desaturate(hsl(100, 100%, 50%), 19%);
  c20: desaturate(hsl(100, 100%, 50%), 20%);
  c21: desaturate(hsl(100, 100%, 50%), 21%);
  c22: desaturate(hsl(100, 100%, 50%), 22%);
  c23: desaturate(hsl(100, 100%, 50%), 23%);
  c24: desaturate(hsl(100, 100%, 50%), 24%);
  c25: desaturate(hsl(100, 100%, 50%), 25%);
  c26: desaturate(hsl(100, 100%, 50%), 26%);
  c27: desaturate(hsl(100, 100%, 50%), 27%);
  c28: desaturate(hsl(100, 100%, 50%), 28%);
  c29: desaturate(hsl(100, 100%, 50%), 29%);
  c30: desaturate(hsl(100, 100%, 50%), 30%);
  c31: desaturate(hsl(100, 100%, 50%), 31%);
  c32: desaturate(hsl(100, 100%, 50%), 32%);
  c33: desaturate(hsl(100, 100%, 50%), 33%);
  c34: desaturate(hsl(100, 100%, 50%), 34%);
  c35: desaturate(hsl(100, 100%, 50%), 35%);
  c36: desaturate(hsl(100, 100%, 50%), 36%);
  c37: desaturate(hsl(100, 100%, 50%), 37%);
  c38: desaturate(hsl(100, 100%, 50%), 38%);
  c39: desaturate(hsl(100, 100%, 50%), 39%);
  c40: desaturate(hsl(100, 100%, 50%), 40%);
  c41: desaturate(hsl(100, 100%, 50%), 41%);
  c42: desaturate(hsl(100, 100%, 50%), 42%);
  c43: desaturate(hsl(100, 100%, 50%), 43%);
  c44: desaturate(hsl(100, 100%, 50%), 44%);
  c45: desaturate(hsl(100, 100%, 50%), 45%);
  c46: desaturate(hsl(100, 100%, 50%), 46%);
  c47: desaturate(hsl(100, 100%, 50%), 47%);
  c48: desaturate(hsl(100, 100%, 50%), 48%);
  c49: desaturate(hsl(100, 100%, 50%), 49%);
  c50: desaturate(hsl(100, 100%, 50%), 50%);
  c51: desaturate(hsl(100, 100%, 50%), 51%);
  c52: desaturate(hsl(100, 100%, 50%), 52%);
  c53: desaturate(hsl(100, 100%, 50%), 53%);
  c54: desaturate(hsl(100, 100%, 50%), 54%);
  c55: desaturate(hsl(100, 100%, 50%), 55%);
  c56: desaturate(hsl(100, 100%, 50%), 56%);
  c57: desaturate(hsl(100, 100%, 50%), 57%);
  c58: desaturate(hsl(100, 100%, 50%), 58%);
  c59: desaturate(hsl(100, 100%, 50%), 59%);
  c60: desaturate(hsl(100, 100%, 50%), 60%);
  c61: desaturate(hsl(100, 100%, 50%), 61%);
  c62: desaturate(hsl(100, 100%, 50%), 62%);
  c63: desaturate(hsl(100, 100%, 50%), 63%);
  c64: desaturate(hsl(100, 100%, 50%), 64%);
  c65: desaturate(hsl(100, 100%, 50%), 65%);
  c66: desaturate(hsl(100, 100%, 50%), 66%);
  c67: desaturate(hsl(100, 100%, 50%), 67%);
  c68: desaturate(hsl(100, 100%, 50%), 68%);
  c69: desaturate(hsl(100, 100%, 50%), 69%);
  c70: desaturate(hsl(100, 100%, 50%), 70%);
  c71: desaturate(hsl(100, 100%, 50%), 71%);
  c72: desaturate(hsl(100, 100%, 50%), 72%);
  c73: desaturate(hsl(100, 100%, 50%), 73%);
  c74: desaturate(hsl(100, 100%, 50%), 74%);
  c75: desaturate(hsl(100, 100%, 50%), 75%);
  c76: desaturate(hsl(100, 100%, 50%), 76%);
  c77: desaturate(hsl(100, 100%, 50%), 77%);
  c78: desaturate(hsl(100, 100%, 50%), 78%);
  c79: desaturate(hsl(100, 100%, 50%), 79%);
  c80: desaturate(hsl(100, 100%, 50%), 80%);
  c81: desaturate(hsl(100, 100%, 50%), 81%);
  c82: desaturate(hsl(100, 100%, 50%), 82%);
  c83: desaturate(hsl(100, 100%, 50%), 83%);
  c84: desaturate(hsl(100, 100%, 50%), 84%);
  c85: desaturate(hsl(100, 100%, 50%), 85%);
  c86: desaturate(hsl(100, 100%, 50%), 86%);
  c87: desaturate(hsl(100, 100%, 50%), 87%);
  c88: desaturate(hsl(100, 100%, 50%), 88%);
  c89: desaturate(hsl(100, 100%, 50%), 89%);
  c90: desaturate(hsl(100, 100%, 50%), 90%);
  c91: desaturate(hsl(100, 100%, 50%), 91%);
  c92: desaturate(hsl(100, 100%, 50%), 92%);
  c93: desaturate(hsl(100, 100%, 50%), 93%);
  c94: desaturate(hsl(100, 100%, 50%), 94%);
  c95: desaturate(hsl(100, 100%, 50%), 95%);
  c96: desaturate(hsl(100, 100%, 50%), 96%);
  c97: desaturate(hsl(100, 100%, 50%), 97%);
  c98: desaturate(hsl(100, 100%, 50%), 98%);
  c99: desaturate(hsl(100, 100%, 50%), 99%);
  c100: desaturate(hsl(100, 100%, 50%), 100%);
}
