a {
  four-digit: #0123;
  eight-digit: #98765432;
  four-digit-red: 0;
  four-digit-green: 17;
  four-digit-blue: 34;
  four-digit-alpha: 0.2;
  eight-digit-red: 152;
  eight-digit-green: 118;
  eight-digit-blue: 84;
  eight-digit-alpha: 0.19608;
}
