foo {
  c-255: black;
  c-254: black;
  c-253: black;
  c-252: black;
  c-251: black;
  c-250: black;
  c-249: black;
  c-248: black;
  c-247: black;
  c-246: black;
  c-245: black;
  c-244: black;
  c-243: black;
  c-242: black;
  c-241: black;
  c-240: black;
  c-239: black;
  c-238: black;
  c-237: black;
  c-236: black;
  c-235: black;
  c-234: black;
  c-233: black;
  c-232: black;
  c-231: black;
  c-230: black;
  c-229: black;
  c-228: black;
  c-227: black;
  c-226: black;
  c-225: black;
  c-224: black;
  c-223: black;
  c-222: black;
  c-221: black;
  c-220: black;
  c-219: black;
  c-218: black;
  c-217: black;
  c-216: black;
  c-215: black;
  c-214: black;
  c-213: black;
  c-212: black;
  c-211: black;
  c-210: black;
  c-209: black;
  c-208: black;
  c-207: black;
  c-206: black;
  c-205: black;
  c-204: black;
  c-203: black;
  c-202: black;
  c-201: black;
  c-200: black;
  c-199: black;
  c-198: black;
  c-197: black;
  c-196: black;
  c-195: black;
  c-194: black;
  c-193: black;
  c-192: black;
  c-191: black;
  c-190: black;
  c-189: black;
  c-188: black;
  c-187: black;
  c-186: black;
  c-185: black;
  c-184: black;
  c-183: black;
  c-182: black;
  c-181: black;
  c-180: black;
  c-179: black;
  c-178: black;
  c-177: black;
  c-176: black;
  c-175: black;
  c-174: black;
  c-173: black;
  c-172: black;
  c-171: black;
  c-170: black;
  c-169: black;
  c-168: black;
  c-167: black;
  c-166: black;
  c-165: black;
  c-164: black;
  c-163: black;
  c-162: black;
  c-161: black;
  c-160: black;
  c-159: black;
  c-158: black;
  c-157: black;
  c-156: black;
  c-155: black;
  c-154: black;
  c-153: black;
  c-152: black;
  c-151: black;
  c-150: black;
  c-149: black;
  c-148: black;
  c-147: black;
  c-146: black;
  c-145: black;
  c-144: black;
  c-143: black;
  c-142: black;
  c-141: black;
  c-140: black;
  c-139: black;
  c-138: black;
  c-137: black;
  c-136: black;
  c-135: black;
  c-134: black;
  c-133: black;
  c-132: black;
  c-131: black;
  c-130: black;
  c-129: black;
  c-128: black;
  c-127: black;
  c-126: black;
  c-125: black;
  c-124: black;
  c-123: black;
  c-122: black;
  c-121: black;
  c-120: black;
  c-119: black;
  c-118: black;
  c-117: black;
  c-116: black;
  c-115: black;
  c-114: black;
  c-113: black;
  c-112: black;
  c-111: black;
  c-110: black;
  c-109: black;
  c-108: black;
  c-107: black;
  c-106: black;
  c-105: black;
  c-104: black;
  c-103: black;
  c-102: black;
  c-101: black;
  c-100: black;
  c-99: black;
  c-98: black;
  c-97: black;
  c-96: black;
  c-95: black;
  c-94: black;
  c-93: black;
  c-92: black;
  c-91: black;
  c-90: black;
  c-89: black;
  c-88: black;
  c-87: black;
  c-86: black;
  c-85: black;
  c-84: black;
  c-83: black;
  c-82: black;
  c-81: black;
  c-80: black;
  c-79: black;
  c-78: black;
  c-77: black;
  c-76: black;
  c-75: black;
  c-74: black;
  c-73: black;
  c-72: black;
  c-71: black;
  c-70: black;
  c-69: black;
  c-68: black;
  c-67: black;
  c-66: black;
  c-65: black;
  c-64: black;
  c-63: black;
  c-62: black;
  c-61: black;
  c-60: black;
  c-59: black;
  c-58: black;
  c-57: black;
  c-56: black;
  c-55: black;
  c-54: black;
  c-53: black;
  c-52: black;
  c-51: black;
  c-50: black;
  c-49: black;
  c-48: black;
  c-47: black;
  c-46: black;
  c-45: black;
  c-44: black;
  c-43: black;
  c-42: black;
  c-41: black;
  c-40: black;
  c-39: black;
  c-38: black;
  c-37: black;
  c-36: black;
  c-35: black;
  c-34: black;
  c-33: black;
  c-32: black;
  c-31: black;
  c-30: black;
  c-29: black;
  c-28: black;
  c-27: black;
  c-26: black;
  c-25: black;
  c-24: black;
  c-23: black;
  c-22: black;
  c-21: black;
  c-20: black;
  c-19: black;
  c-18: black;
  c-17: black;
  c-16: black;
  c-15: black;
  c-14: black;
  c-13: black;
  c-12: black;
  c-11: black;
  c-10: black;
  c-9: black;
  c-8: black;
  c-7: black;
  c-6: black;
  c-5: black;
  c-4: black;
  c-3: black;
  c-2: black;
  c-1: black;
  c0: black;
  c1: #000100;
  c2: #000200;
  c3: #000300;
  c4: #000400;
  c5: #000500;
  c6: #000600;
  c7: #000700;
  c8: #000800;
  c9: #000900;
  c10: #000a00;
  c11: #000b00;
  c12: #000c00;
  c13: #000d00;
  c14: #000e00;
  c15: #000f00;
  c16: #001000;
  c17: #001100;
  c18: #001200;
  c19: #001300;
  c20: #001400;
  c21: #001500;
  c22: #001600;
  c23: #001700;
  c24: #001800;
  c25: #001900;
  c26: #001a00;
  c27: #001b00;
  c28: #001c00;
  c29: #001d00;
  c30: #001e00;
  c31: #001f00;
  c32: #002000;
  c33: #002100;
  c34: #002200;
  c35: #002300;
  c36: #002400;
  c37: #002500;
  c38: #002600;
  c39: #002700;
  c40: #002800;
  c41: #002900;
  c42: #002a00;
  c43: #002b00;
  c44: #002c00;
  c45: #002d00;
  c46: #002e00;
  c47: #002f00;
  c48: #003000;
  c49: #003100;
  c50: #003200;
  c51: #003300;
  c52: #003400;
  c53: #003500;
  c54: #003600;
  c55: #003700;
  c56: #003800;
  c57: #003900;
  c58: #003a00;
  c59: #003b00;
  c60: #003c00;
  c61: #003d00;
  c62: #003e00;
  c63: #003f00;
  c64: #004000;
  c65: #004100;
  c66: #004200;
  c67: #004300;
  c68: #004400;
  c69: #004500;
  c70: #004600;
  c71: #004700;
  c72: #004800;
  c73: #004900;
  c74: #004a00;
  c75: #004b00;
  c76: #004c00;
  c77: #004d00;
  c78: #004e00;
  c79: #004f00;
  c80: #005000;
  c81: #005100;
  c82: #005200;
  c83: #005300;
  c84: #005400;
  c85: #005500;
  c86: #005600;
  c87: #005700;
  c88: #005800;
  c89: #005900;
  c90: #005a00;
  c91: #005b00;
  c92: #005c00;
  c93: #005d00;
  c94: #005e00;
  c95: #005f00;
  c96: #006000;
  c97: #006100;
  c98: #006200;
  c99: #006300;
  c100: darkgreen;
  c101: #006500;
  c102: #006600;
  c103: #006700;
  c104: #006800;
  c105: #006900;
  c106: #006a00;
  c107: #006b00;
  c108: #006c00;
  c109: #006d00;
  c110: #006e00;
  c111: #006f00;
  c112: #007000;
  c113: #007100;
  c114: #007200;
  c115: #007300;
  c116: #007400;
  c117: #007500;
  c118: #007600;
  c119: #007700;
  c120: #007800;
  c121: #007900;
  c122: #007a00;
  c123: #007b00;
  c124: #007c00;
  c125: #007d00;
  c126: #007e00;
  c127: #007f00;
  c128: green;
  c129: #008100;
  c130: #008200;
  c131: #008300;
  c132: #008400;
  c133: #008500;
  c134: #008600;
  c135: #008700;
  c136: #008800;
  c137: #008900;
  c138: #008a00;
  c139: #008b00;
  c140: #008c00;
  c141: #008d00;
  c142: #008e00;
  c143: #008f00;
  c144: #009000;
  c145: #009100;
  c146: #009200;
  c147: #009300;
  c148: #009400;
  c149: #009500;
  c150: #009600;
  c151: #009700;
  c152: #009800;
  c153: #009900;
  c154: #009a00;
  c155: #009b00;
  c156: #009c00;
  c157: #009d00;
  c158: #009e00;
  c159: #009f00;
  c160: #00a000;
  c161: #00a100;
  c162: #00a200;
  c163: #00a300;
  c164: #00a400;
  c165: #00a500;
  c166: #00a600;
  c167: #00a700;
  c168: #00a800;
  c169: #00a900;
  c170: #00aa00;
  c171: #00ab00;
  c172: #00ac00;
  c173: #00ad00;
  c174: #00ae00;
  c175: #00af00;
  c176: #00b000;
  c177: #00b100;
  c178: #00b200;
  c179: #00b300;
  c180: #00b400;
  c181: #00b500;
  c182: #00b600;
  c183: #00b700;
  c184: #00b800;
  c185: #00b900;
  c186: #00ba00;
  c187: #00bb00;
  c188: #00bc00;
  c189: #00bd00;
  c190: #00be00;
  c191: #00bf00;
  c192: #00c000;
  c193: #00c100;
  c194: #00c200;
  c195: #00c300;
  c196: #00c400;
  c197: #00c500;
  c198: #00c600;
  c199: #00c700;
  c200: #00c800;
  c201: #00c900;
  c202: #00ca00;
  c203: #00cb00;
  c204: #00cc00;
  c205: #00cd00;
  c206: #00ce00;
  c207: #00cf00;
  c208: #00d000;
  c209: #00d100;
  c210: #00d200;
  c211: #00d300;
  c212: #00d400;
  c213: #00d500;
  c214: #00d600;
  c215: #00d700;
  c216: #00d800;
  c217: #00d900;
  c218: #00da00;
  c219: #00db00;
  c220: #00dc00;
  c221: #00dd00;
  c222: #00de00;
  c223: #00df00;
  c224: #00e000;
  c225: #00e100;
  c226: #00e200;
  c227: #00e300;
  c228: #00e400;
  c229: #00e500;
  c230: #00e600;
  c231: #00e700;
  c232: #00e800;
  c233: #00e900;
  c234: #00ea00;
  c235: #00eb00;
  c236: #00ec00;
  c237: #00ed00;
  c238: #00ee00;
  c239: #00ef00;
  c240: #00f000;
  c241: #00f100;
  c242: #00f200;
  c243: #00f300;
  c244: #00f400;
  c245: #00f500;
  c246: #00f600;
  c247: #00f700;
  c248: #00f800;
  c249: #00f900;
  c250: #00fa00;
  c251: #00fb00;
  c252: #00fc00;
  c253: #00fd00;
  c254: #00fe00;
  c255: lime;
}
