foo {
  set: red 50px, number 20px;
  set-type: list;
  before: (key: value, number: 20px);
  after: red 50px null, number 20px;
  length: 3;
  key: red;
  key-type: color;
  value1-type: number;
  value2-type: null; }
