div {
  foo: false;
  foo: true; }
  div span {
    foo: false;
    foo: false;
    foo: true; }
    div span p {
      foo: false;
      foo: false;
      foo: true;
      foo: false;
      foo: false; }