foo {
  test-1: 10/10/10;
  test-2: 10 /10 /10;
  test-3: 10/ 10/ 10;
  test-4: 10 / 10 / 10;
  test-5: 10/10/#{10};
  test-6: 10 /10 /#{10};
  test-7: 10/ 10/ #{10};
  test-8: 10 / 10 / #{10};
  test-9: 10/10/1#{0};
  test-10: 10 /10 /1#{0};
  test-11: 10/ 10/ 1#{0};
  test-12: 10 / 10 / 1#{0};
  test-13: 10/10/#{1}0;
  test-14: 10 /10 /#{1}0;
  test-15: 10/ 10/ #{1}0;
  test-16: 10 / 10 / #{1}0;
  test-17: 10/#{10}/#{10};
  test-18: 10 /#{10} /#{10};
  test-19: 10/ #{10}/ #{10};
  test-20: 10 / #{10} / #{10};
  test-21: 10/#{10}/1#{0};
  test-22: 10 /#{10} /1#{0};
  test-23: 10/ #{10}/ 1#{0};
  test-24: 10 / #{10} / 1#{0};
  test-25: 10/#{10}/#{1}0;
  test-26: 10 /#{10} /#{1}0;
  test-27: 10/ #{10}/ #{1}0;
  test-28: 10 / #{10} / #{1}0;
  test-29: 10/1#{0}/1#{0};
  test-30: 10 /1#{0} /1#{0};
  test-31: 10/ 1#{0}/ 1#{0};
  test-32: 10 / 1#{0} / 1#{0};
  test-33: 10/1#{0}/#{1}0;
  test-34: 10 /1#{0} /#{1}0;
  test-35: 10/ 1#{0}/ #{1}0;
  test-36: 10 / 1#{0} / #{1}0;
  test-37: 10/#{1}0/#{1}0;
  test-38: 10 /#{1}0 /#{1}0;
  test-39: 10/ #{1}0/ #{1}0;
  test-40: 10 / #{1}0 / #{1}0;
  test-41: #{10}/#{10}/#{10};
  test-42: #{10} /#{10} /#{10};
  test-43: #{10}/ #{10}/ #{10};
  test-44: #{10} / #{10} / #{10};
  test-45: #{10}/#{10}/1#{0};
  test-46: #{10} /#{10} /1#{0};
  test-47: #{10}/ #{10}/ 1#{0};
  test-48: #{10} / #{10} / 1#{0};
  test-49: #{10}/#{10}/#{1}0;
  test-50: #{10} /#{10} /#{1}0;
  test-51: #{10}/ #{10}/ #{1}0;
  test-52: #{10} / #{10} / #{1}0;
  test-53: #{10}/1#{0}/1#{0};
  test-54: #{10} /1#{0} /1#{0};
  test-55: #{10}/ 1#{0}/ 1#{0};
  test-56: #{10} / 1#{0} / 1#{0};
  test-57: #{10}/1#{0}/#{1}0;
  test-58: #{10} /1#{0} /#{1}0;
  test-59: #{10}/ 1#{0}/ #{1}0;
  test-60: #{10} / 1#{0} / #{1}0;
  test-61: #{10}/#{1}0/#{1}0;
  test-62: #{10} /#{1}0 /#{1}0;
  test-63: #{10}/ #{1}0/ #{1}0;
  test-64: #{10} / #{1}0 / #{1}0;
  test-65: 1#{0}/1#{0}/1#{0};
  test-66: 1#{0} /1#{0} /1#{0};
  test-67: 1#{0}/ 1#{0}/ 1#{0};
  test-68: 1#{0} / 1#{0} / 1#{0};
  test-69: 1#{0}/1#{0}/#{1}0;
  test-70: 1#{0} /1#{0} /#{1}0;
  test-71: 1#{0}/ 1#{0}/ #{1}0;
  test-72: 1#{0} / 1#{0} / #{1}0;
  test-73: 1#{0}/#{1}0/#{1}0;
  test-74: 1#{0} /#{1}0 /#{1}0;
  test-75: 1#{0}/ #{1}0/ #{1}0;
  test-76: 1#{0} / #{1}0 / #{1}0;
  test-77: #{1}0/#{1}0/#{1}0;
  test-78: #{1}0 /#{1}0 /#{1}0;
  test-79: #{1}0/ #{1}0/ #{1}0;
  test-80: #{1}0 / #{1}0 / #{1}0;
}
