unitless {
  numbers: #123456;
  beaded: #beaded;
  springgreen: springgreen;
  named: springgreen;
}
unitless clamped {
  red: red;
  green: black;
  blue: blue;
}

percents {
  all-percent: #123456;
  unitless-green: #beaded;
  percent-green: #beaded;
  boundaries: #00ff80;
}
percents clamped {
  red: red;
  green: black;
  blue: blue;
}
