foo {
  c0: gray;
  c1: #817e7e;
  c2: #827d7d;
  c3: #837c7c;
  c4: #857a7a;
  c5: #867979;
  c6: #877878;
  c7: #887777;
  c8: #8a7575;
  c9: #8b7474;
  c10: #8c7373;
  c11: #8e7171;
  c12: #8f7070;
  c13: #906f6f;
  c14: #916e6e;
  c15: #936c6c;
  c16: #946b6b;
  c17: #956a6a;
  c18: #966969;
  c19: #986767;
  c20: #996666;
  c21: #9a6565;
  c22: #9c6363;
  c23: #9d6262;
  c24: #9e6161;
  c25: #9f6060;
  c26: #a15e5e;
  c27: #a25d5d;
  c28: #a35c5c;
  c29: #a45b5b;
  c30: #a65959;
  c31: #a75858;
  c32: #a85757;
  c33: #aa5555;
  c34: #ab5454;
  c35: #ac5353;
  c36: #ad5252;
  c37: #af5050;
  c38: #b04f4f;
  c39: #b14e4e;
  c40: #b34d4d;
  c41: #b44b4b;
  c42: #b54a4a;
  c43: #b64949;
  c44: #b84747;
  c45: #b94646;
  c46: #ba4545;
  c47: #bb4444;
  c48: #bd4242;
  c49: #be4141;
  c50: #bf4040;
  c51: #c13e3e;
  c52: #c23d3d;
  c53: #c33c3c;
  c54: #c43b3b;
  c55: #c63939;
  c56: #c73838;
  c57: #c83737;
  c58: #c93636;
  c59: #cb3434;
  c60: #cc3333;
  c61: #cd3232;
  c62: #cf3030;
  c63: #d02f2f;
  c64: #d12e2e;
  c65: #d22d2d;
  c66: #d42b2b;
  c67: #d52a2a;
  c68: #d62929;
  c69: #d72828;
  c70: #d92626;
  c71: #da2525;
  c72: #db2424;
  c73: #dd2222;
  c74: #de2121;
  c75: #df2020;
  c76: #e01f1f;
  c77: #e21d1d;
  c78: #e31c1c;
  c79: #e41b1b;
  c80: #e61a1a;
  c81: #e71818;
  c82: #e81717;
  c83: #e91616;
  c84: #eb1414;
  c85: #ec1313;
  c86: #ed1212;
  c87: #ee1111;
  c88: #f00f0f;
  c89: #f10e0e;
  c90: #f20d0d;
  c91: #f40b0b;
  c92: #f50a0a;
  c93: #f60909;
  c94: #f70808;
  c95: #f90606;
  c96: #fa0505;
  c97: #fb0404;
  c98: #fc0303;
  c99: #fe0101;
  c100: red;
}
