.test {
  a01: a+7%;
  a02: a+ 7%;
  a03: a +7%;
  a04: a + 7%;
  b01: 7%+a;
  b02: 7%+ a;
  b03: 7% +a;
  b04: 7% + a;
  c01: a +7%;
  c02: a -3%;
  c03: a /5%2;
  c04: a *5%2;
  c05: a +3%;
  c06: a -7%;
  c07: a /5%-2;
  c08: a *5%-2;
  c09: a +2.5%;
  c10: a -2.5%;
  c11: a /2.5%;
  c12: a *2.5%;
  c13: a +10%;
  c14: a -10%;
  c15: a /10%;
  c16: a *10%;
  d01: 7% +a;
  d02: 7% -a;
  d03: 52% /a;
  d04: 52% *a;
  d05: 3% +a;
  d06: 3% -a;
  d07: 5-2% /a;
  d08: 5-2% *a;
  d09: 2.5% +a;
  d10: 2.5% -a;
  d11: 2.5% /a;
  d12: 2.5% *a;
  d13: 10% +a;
  d14: 10% -a;
  d15: 10% /a;
  d16: 10% *a;
  e01: a ==false;
  e02: a >true;
  e03: a <false;
  e04: a >=true;
  e05: a <=false;
  e06: a !=true; }
