$input: \B\C\D\E\F\G\H\I\J\K\L\M\N\O\P\Q\R\S\T\U\V\W\X\Y\Z;
.result {
  dquoted: "#{#{$input}}";
  dquoted: "#{"[#{$input}]"}";
  dquoted: "#{"#{$input}"}";
  dquoted: "#{'#{$input}'}";
  dquoted: "#{"['#{$input}']"}";
  squoted: '#{#{$input}}';
  squoted: '#{"[#{$input}]"}';
  squoted: '#{"#{$input}"}';
  squoted: '#{'#{$input}'}';
  squoted: '#{"['#{$input}']"}';
}
