.result {
  dquoted: "\\b \\c \\d \\e \\f GHIJKLMNOPQRSTUVWXYZ";
  dquoted: "[\\b \\c \\d \\e \\f GHIJKLMNOPQRSTUVWXYZ]";
  dquoted: "\\b \\c \\d \\e \\f GHIJKLMNOPQRSTUVWXYZ";
  dquoted: "\\b \\c \\d \\e \\f GHIJKLMNOPQRSTUVWXYZ";
  dquoted: "['\\b \\c \\d \\e \\f GHIJKLMNOPQRSTUVWXYZ']";
  squoted: "\\b \\c \\d \\e \\f GHIJKLMNOPQRSTUVWXYZ";
  squoted: "[\\b \\c \\d \\e \\f GHIJKLMNOPQRSTUVWXYZ]";
  squoted: "\\b \\c \\d \\e \\f GHIJKLMNOPQRSTUVWXYZ";
  squoted: "\\b \\c \\d \\e \\f GHIJKLMNOPQRSTUVWXYZ";
  squoted: "['\\b \\c \\d \\e \\f GHIJKLMNOPQRSTUVWXYZ']";
}
