no-space-before-using {
  arg1: value1;
  arg2: value2;
}

no-space-after-using {
  arg1: value1;
  arg2: value2;
}

no-space-after-arglist {
  arg1: value1;
  arg2: value2;
}

space-after-content {
  arg1: value1;
  arg2: value2;
}

case-insensitive-using {
  arg1: value1;
  arg2: value2;
}
