.foo {a: b}
.bar {x: y}

// Extending a selector list is equivalent to writing two @extends.
.baz {@extend .foo, .bar}

// The selector list should be parsed after interpolation is resolved.
.bang {@extend .foo #{","} .bar}
