foo {
  c0: black;
  c1: #050000;
  c2: #0a0000;
  c3: #0f0000;
  c4: #140000;
  c5: #1a0000;
  c6: #1f0000;
  c7: #240000;
  c8: #290000;
  c9: #2e0000;
  c10: #330000;
  c11: #380000;
  c12: #3d0000;
  c13: #420000;
  c14: #470000;
  c15: #4d0000;
  c16: #520000;
  c17: #570000;
  c18: #5c0000;
  c19: #610000;
  c20: #660000;
  c21: #6b0000;
  c22: #700000;
  c23: #750000;
  c24: #7a0000;
  c25: maroon;
  c26: #850000;
  c27: #8a0000;
  c28: #8f0000;
  c29: #940000;
  c30: #990000;
  c31: #9e0000;
  c32: #a30000;
  c33: #a80000;
  c34: #ad0000;
  c35: #b30000;
  c36: #b80000;
  c37: #bd0000;
  c38: #c20000;
  c39: #c70000;
  c40: #cc0000;
  c41: #d10000;
  c42: #d60000;
  c43: #db0000;
  c44: #e00000;
  c45: #e60000;
  c46: #eb0000;
  c47: #f00000;
  c48: #f50000;
  c49: #fa0000;
  c50: red;
  c51: #ff0505;
  c52: #ff0a0a;
  c53: #ff0f0f;
  c54: #ff1414;
  c55: #ff1a1a;
  c56: #ff1f1f;
  c57: #ff2424;
  c58: #ff2929;
  c59: #ff2e2e;
  c60: #ff3333;
  c61: #ff3838;
  c62: #ff3d3d;
  c63: #ff4242;
  c64: #ff4747;
  c65: #ff4d4d;
  c66: #ff5252;
  c67: #ff5757;
  c68: #ff5c5c;
  c69: #ff6161;
  c70: #ff6666;
  c71: #ff6b6b;
  c72: #ff7070;
  c73: #ff7575;
  c74: #ff7a7a;
  c75: #ff8080;
  c76: #ff8585;
  c77: #ff8a8a;
  c78: #ff8f8f;
  c79: #ff9494;
  c80: #ff9999;
  c81: #ff9e9e;
  c82: #ffa3a3;
  c83: #ffa8a8;
  c84: #ffadad;
  c85: #ffb3b3;
  c86: #ffb8b8;
  c87: #ffbdbd;
  c88: #ffc2c2;
  c89: #ffc7c7;
  c90: #ffcccc;
  c91: #ffd1d1;
  c92: #ffd6d6;
  c93: #ffdbdb;
  c94: #ffe0e0;
  c95: #ffe6e6;
  c96: #ffebeb;
  c97: #fff0f0;
  c98: #fff5f5;
  c99: snow;
}
