foo {
  test-1: .25<=.25;
  test-2: .25 <=.25;
  test-3: .25<= .25;
  test-4: .25 <= .25;
  test-5: .25<=-.25;
  test-6: .25 <=-.25;
  test-7: .25<= -.25;
  test-8: .25 <= -.25;
  test-9: .25<=#{.25};
  test-10: .25 <=#{.25};
  test-11: .25<= #{.25};
  test-12: .25 <= #{.25};
  test-13: .25<=#{-.25};
  test-14: .25 <=#{-.25};
  test-15: .25<= #{-.25};
  test-16: .25 <= #{-.25};
  test-17: .25<=#{.}25;
  test-18: .25 <=#{.}25;
  test-19: .25<= #{.}25;
  test-20: .25 <= #{.}25;
  test-21: -.25<=-.25;
  test-22: -.25 <=-.25;
  test-23: -.25<= -.25;
  test-24: -.25 <= -.25;
  test-25: -.25<=#{.25};
  test-26: -.25 <=#{.25};
  test-27: -.25<= #{.25};
  test-28: -.25 <= #{.25};
  test-29: -.25<=#{-.25};
  test-30: -.25 <=#{-.25};
  test-31: -.25<= #{-.25};
  test-32: -.25 <= #{-.25};
  test-33: -.25<=#{.}25;
  test-34: -.25 <=#{.}25;
  test-35: -.25<= #{.}25;
  test-36: -.25 <= #{.}25;
  test-37: #{.25}<=#{.25};
  test-38: #{.25} <=#{.25};
  test-39: #{.25}<= #{.25};
  test-40: #{.25} <= #{.25};
  test-41: #{.25}<=#{-.25};
  test-42: #{.25} <=#{-.25};
  test-43: #{.25}<= #{-.25};
  test-44: #{.25} <= #{-.25};
  test-45: #{.25}<=#{.}25;
  test-46: #{.25} <=#{.}25;
  test-47: #{.25}<= #{.}25;
  test-48: #{.25} <= #{.}25;
  test-49: #{-.25}<=#{-.25};
  test-50: #{-.25} <=#{-.25};
  test-51: #{-.25}<= #{-.25};
  test-52: #{-.25} <= #{-.25};
  test-53: #{-.25}<=#{.}25;
  test-54: #{-.25} <=#{.}25;
  test-55: #{-.25}<= #{.}25;
  test-56: #{-.25} <= #{.}25;
  test-57: #{.}25<=#{.}25;
  test-58: #{.}25 <=#{.}25;
  test-59: #{.}25<= #{.}25;
  test-60: #{.}25 <= #{.}25;
}
