foo {
  test-1: 10==10==10;
  test-2: 10 ==10 ==10;
  test-3: 10== 10== 10;
  test-4: 10 == 10 == 10;
  test-5: 10==10==10%;
  test-6: 10 ==10 ==10%;
  test-7: 10== 10== 10%;
  test-8: 10 == 10 == 10%;
  test-9: 10==10==10px;
  test-10: 10 ==10 ==10px;
  test-11: 10== 10== 10px;
  test-12: 10 == 10 == 10px;
  test-13: 10==10==#AAA;
  test-14: 10 ==10 ==#AAA;
  test-15: 10== 10== #AAA;
  test-16: 10 == 10 == #AAA;
  test-17: 10==10==#{itpl};
  test-18: 10 ==10 ==#{itpl};
  test-19: 10== 10== #{itpl};
  test-20: 10 == 10 == #{itpl};
  test-21: 10==10%==10%;
  test-22: 10 ==10% ==10%;
  test-23: 10== 10%== 10%;
  test-24: 10 == 10% == 10%;
  test-25: 10==10%==10px;
  test-26: 10 ==10% ==10px;
  test-27: 10== 10%== 10px;
  test-28: 10 == 10% == 10px;
  test-29: 10==10%==#AAA;
  test-30: 10 ==10% ==#AAA;
  test-31: 10== 10%== #AAA;
  test-32: 10 == 10% == #AAA;
  test-33: 10==10%==#{itpl};
  test-34: 10 ==10% ==#{itpl};
  test-35: 10== 10%== #{itpl};
  test-36: 10 == 10% == #{itpl};
  test-37: 10==10px==10px;
  test-38: 10 ==10px ==10px;
  test-39: 10== 10px== 10px;
  test-40: 10 == 10px == 10px;
  test-41: 10==10px==#AAA;
  test-42: 10 ==10px ==#AAA;
  test-43: 10== 10px== #AAA;
  test-44: 10 == 10px == #AAA;
  test-45: 10==10px==#{itpl};
  test-46: 10 ==10px ==#{itpl};
  test-47: 10== 10px== #{itpl};
  test-48: 10 == 10px == #{itpl};
  test-49: 10==#AAA==#AAA;
  test-50: 10 ==#AAA ==#AAA;
  test-51: 10== #AAA== #AAA;
  test-52: 10 == #AAA == #AAA;
  test-53: 10==#AAA==#{itpl};
  test-54: 10 ==#AAA ==#{itpl};
  test-55: 10== #AAA== #{itpl};
  test-56: 10 == #AAA == #{itpl};
  test-57: 10==#{itpl}==#{itpl};
  test-58: 10 ==#{itpl} ==#{itpl};
  test-59: 10== #{itpl}== #{itpl};
  test-60: 10 == #{itpl} == #{itpl};
  test-61: 10%==10%==10%;
  test-62: 10% ==10% ==10%;
  test-63: 10%== 10%== 10%;
  test-64: 10% == 10% == 10%;
  test-65: 10%==10%==10px;
  test-66: 10% ==10% ==10px;
  test-67: 10%== 10%== 10px;
  test-68: 10% == 10% == 10px;
  test-69: 10%==10%==#AAA;
  test-70: 10% ==10% ==#AAA;
  test-71: 10%== 10%== #AAA;
  test-72: 10% == 10% == #AAA;
  test-73: 10%==10%==#{itpl};
  test-74: 10% ==10% ==#{itpl};
  test-75: 10%== 10%== #{itpl};
  test-76: 10% == 10% == #{itpl};
  test-77: 10%==10px==10px;
  test-78: 10% ==10px ==10px;
  test-79: 10%== 10px== 10px;
  test-80: 10% == 10px == 10px;
  test-81: 10%==10px==#AAA;
  test-82: 10% ==10px ==#AAA;
  test-83: 10%== 10px== #AAA;
  test-84: 10% == 10px == #AAA;
  test-85: 10%==10px==#{itpl};
  test-86: 10% ==10px ==#{itpl};
  test-87: 10%== 10px== #{itpl};
  test-88: 10% == 10px == #{itpl};
  test-89: 10%==#AAA==#AAA;
  test-90: 10% ==#AAA ==#AAA;
  test-91: 10%== #AAA== #AAA;
  test-92: 10% == #AAA == #AAA;
  test-93: 10%==#AAA==#{itpl};
  test-94: 10% ==#AAA ==#{itpl};
  test-95: 10%== #AAA== #{itpl};
  test-96: 10% == #AAA == #{itpl};
  test-97: 10%==#{itpl}==#{itpl};
  test-98: 10% ==#{itpl} ==#{itpl};
  test-99: 10%== #{itpl}== #{itpl};
  test-100: 10% == #{itpl} == #{itpl};
  test-101: 10px==10px==10px;
  test-102: 10px ==10px ==10px;
  test-103: 10px== 10px== 10px;
  test-104: 10px == 10px == 10px;
  test-105: 10px==10px==#AAA;
  test-106: 10px ==10px ==#AAA;
  test-107: 10px== 10px== #AAA;
  test-108: 10px == 10px == #AAA;
  test-109: 10px==10px==#{itpl};
  test-110: 10px ==10px ==#{itpl};
  test-111: 10px== 10px== #{itpl};
  test-112: 10px == 10px == #{itpl};
  test-113: 10px==#AAA==#AAA;
  test-114: 10px ==#AAA ==#AAA;
  test-115: 10px== #AAA== #AAA;
  test-116: 10px == #AAA == #AAA;
  test-117: 10px==#AAA==#{itpl};
  test-118: 10px ==#AAA ==#{itpl};
  test-119: 10px== #AAA== #{itpl};
  test-120: 10px == #AAA == #{itpl};
  test-121: 10px==#{itpl}==#{itpl};
  test-122: 10px ==#{itpl} ==#{itpl};
  test-123: 10px== #{itpl}== #{itpl};
  test-124: 10px == #{itpl} == #{itpl};
  test-125: #AAA==#AAA==#AAA;
  test-126: #AAA ==#AAA ==#AAA;
  test-127: #AAA== #AAA== #AAA;
  test-128: #AAA == #AAA == #AAA;
  test-129: #AAA==#AAA==#{itpl};
  test-130: #AAA ==#AAA ==#{itpl};
  test-131: #AAA== #AAA== #{itpl};
  test-132: #AAA == #AAA == #{itpl};
  test-133: #AAA==#{itpl}==#{itpl};
  test-134: #AAA ==#{itpl} ==#{itpl};
  test-135: #AAA== #{itpl}== #{itpl};
  test-136: #AAA == #{itpl} == #{itpl};
  test-137: #{itpl}==#{itpl}==#{itpl};
  test-138: #{itpl} ==#{itpl} ==#{itpl};
  test-139: #{itpl}== #{itpl}== #{itpl};
  test-140: #{itpl} == #{itpl} == #{itpl};
}
