$input: "foo#{'ba' + 'r'}baz";
.result {
  output: "[\#{"foo#{'ba' + 'r'}baz"}]";
  output: "\#{"foo#{'ba' + 'r'}baz"}";
  output: '\#{"foo#{'ba' + 'r'}baz"}';
  output: "['\#{"foo#{'ba' + 'r'}baz"}']";
}
