foo {
  c0: transparent;
  c1: transparent;
  c2: rgba(0, 0, 0, 0.1);
  c3: rgba(0, 0, 0, 0.2);
  c4: rgba(0, 0, 0, 0.3);
  c5: rgba(0, 0, 0, 0.4);
  c6: rgba(0, 0, 0, 0.5);
  c7: rgba(0, 0, 0, 0.6);
  c8: rgba(0, 0, 0, 0.7);
  c9: rgba(0, 0, 0, 0.8);
  c10: rgba(0, 0, 0, 0.9); }
