.result {
  dquoted: "\\0_\\a_\\A";
  dquoted: "[\\0_\\a_\\A]";
  dquoted: "\\0_\\a_\\A";
  dquoted: "\\0_\\a_\\A";
  dquoted: "['\\0_\\a_\\A']";
  squoted: "\\0_\\a_\\A";
  squoted: "[\\0_\\a_\\A]";
  squoted: "\\0_\\a_\\A";
  squoted: "\\0_\\a_\\A";
  squoted: "['\\0_\\a_\\A']"; }
