.result {
  dquoted: "\\0 _\\a _\\a ";
  dquoted: "[\\0 _\\a _\\a ]";
  dquoted: "\\0 _\\a _\\a ";
  dquoted: "\\0 _\\a _\\a ";
  dquoted: "['\\0 _\\a _\\a ']";
  squoted: "\\0 _\\a _\\a ";
  squoted: "[\\0 _\\a _\\a ]";
  squoted: "\\0 _\\a _\\a ";
  squoted: "\\0 _\\a _\\a ";
  squoted: "['\\0 _\\a _\\a ']";
}
