a {
  four-digit: #AbCd;
  eight-digit: #aBcDeF12;

  // Verify that the color channels are set correctly.
  four-digit-red: red(#abcd);
  four-digit-green: green(#abcd);
  four-digit-blue: blue(#abcd);
  four-digit-alpha: alpha(#abcd);

  eight-digit-red: red(#ABCDEF12);
  eight-digit-green: green(#ABCDEF12);
  eight-digit-blue: blue(#ABCDEF12);
  eight-digit-alpha: alpha(#ABCDEF12);
}
