a {
  calc-1: rgb(calc(1), 2, 3, 0.4);
  calc-2: rgb(1, calc(2), 3, 0.4);
  calc-3: rgb(1, 2, calc(3), 0.4);
  calc-4: rgb(1, 2, 3, calc(0.4));

  var-1: rgb(var(--foo), 2, 3, 0.4);
  var-2: rgb(1, var(--foo), 3, 0.4);
  var-3: rgb(1, 2, var(--foo), 0.4);
  var-4: rgb(1, 2, 3, var(0.4));

  calc-2-args: rgb(blue, calc(0.4));
  var-2-args-alpha: rgb(blue, var(0.4));
  var-2-args-color: rgb(var(--foo), 0.4);
  var-2-args-both: rgb(var(--foo), var(0.4));
}
